.article-page-content {
  min-height: calc(100vh - 68px); }

.external-circle {
  stroke: #fff;
  stroke-dashoffset: 0;
  transform-origin: center;
  troke-dasharray: 187;
  -webkit-animation: internal 1s ease-in-out infinite;
  animation: internal 1s ease-in-out infinite;
  opacity: .4; }

.modify-container {
  display: table;
  width: 100%; }
  .modify-container #modify-box {
    display: table-cell; }
  .modify-container div[class^='modified-content-'] {
    display: table-cell;
    position: relative;
    padding: 10px;
    width: 0px;
    -webkit-transition: width .5s;
    transition: width .5s; }
    .modify-container div[class^='modified-content-'] .fa {
      left: -12px;
      position: absolute;
      color: #FB8C00;
      font-size: 2em;
      transform: rotate(180deg);
      transition: transform 1s;
      -webkit-transition: transform 1s;
      top: calc(50% - 14px); }
    .modify-container div[class^='modified-content-'] .modified-content-body {
      display: none;
      width: 100%; }
      .modify-container div[class^='modified-content-'] .modified-content-body h5 {
        text-align: center; }
      .modify-container div[class^='modified-content-'] .modified-content-body .modify-content-element {
        margin-top: 10px;
        font-family: Arial;
        font-size: small !important; }

#modify-box {
  background-color: #E1F5FE; }

#confirm-sticky input[type=text] {
  margin-bottom: 20px; }

#confirm-sticky .opt-color {
  margin-left: 10px;
  display: inline-block;
  height: 20px;
  width: 40px; }

a[data-toggle="popover"] {
  text-decoration: none;
  color: #00cc00; }
  a[data-toggle="popover"]:hover {
    text-decoration: none;
    color: #00cc00; }

.popover-body {
  font-size: 1.2em; }

.tooltip-inner {
  font-size: 1.3em !important;
  background-color: #00cc00 !important; }

.tooltip.bs-tooltip-right .arrow:before {
  font-size: 1.3em !important;
  border-right-color: #00cc00 !important; }

.tooltip.bs-tooltip-left .arrow:before {
  font-size: 1.3em !important;
  border-right-color: #00cc00 !important; }

.tooltip.bs-tooltip-bottom .arrow:before {
  font-size: 1.3em !important;
  border-right-color: #00cc00 !important; }

.tooltip.bs-tooltip-top .arrow:before {
  font-size: 1.3em !important;
  border-right-color: #00cc00 !important; }

.modal-dialog {
  max-width: 70% !important; }
  .modal-dialog .modal-body {
    position: relative; }
    .modal-dialog .modal-body .timeline {
      position: absolute;
      left: 15px;
      height: calc(100% - 70px);
      width: 5px;
      background-color: #B3E5FC;
      margin-top: 20px;
      margin-bottom: 50px; }
    .modal-dialog .modal-body .modal-law-modify {
      margin: 20px;
      border: 1px solid #eee;
      border-radius: 5px;
      padding: 20px;
      margin-left: 110px; }
      .modal-dialog .modal-body .modal-law-modify .modal-law-modify-date {
        margin-top: 10px;
        position: absolute;
        left: 10px;
        align-items: center;
        vertical-align: middle;
        font-weight: 900; }
        .modal-dialog .modal-body .modal-law-modify .modal-law-modify-date svg {
          vertical-align: middle; }
      .modal-dialog .modal-body .modal-law-modify h5 {
        text-decoration: underline; }
      .modal-dialog .modal-body .modal-law-modify .modal-law-modify-content {
        margin-left: 20px; }

.article-page .btn-text {
  color: #2385f2; }

.article-page .fa-paint-brush {
  position: fixed; }

.article-page .col-md-sticky {
  padding: 0;
  padding-right: 20px; }

.article-page .col-md-index {
  padding: 0;
  padding-left: 20px; }

.article-page .sticky-col {
  background-color: #fff;
  border: 0.7px solid #d1d1d1;
  border-radius: 3px;
  font-size: 1.2em;
  max-height: 70vh;
  margin-top: 45px;
  width: initial; }
  .article-page .sticky-col .ui.checkbox {
    display: block;
    font-size: 1em;
    padding: 7.5px 15px; }
  .article-page .sticky-col .sticky-def {
    padding-top: 15px !important; }
  .article-page .sticky-col .sticky-modify {
    padding-bottom: 15px !important; }
  .article-page .sticky-col .sticky-btn {
    padding: 5px;
    background: #f9f9f9;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    cursor: pointer; }
    .article-page .sticky-col .sticky-btn:hover {
      background: #f6f6f6; }
  .article-page .sticky-col .sticky-title {
    background: #2385f2;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    width: 100%; }
  .article-page .sticky-col .color-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    border-radius: 2px;
    border: 1px solid #eee; }

.article-page .article-detail {
  font-size: 1.2em; }
  .article-page .article-detail table, .article-page .article-detail th, .article-page .article-detail td, .article-page .article-detail thead {
    border: 1px solid #d1d1d1;
    border-collapse: collapse; }
  .article-page .article-detail th, .article-page .article-detail td, .article-page .article-detail thead {
    padding: 10px; }
  .article-page .article-detail table {
    width: 100%; }
  .article-page .article-detail .effect-status {
    color: #ff0019; }
  .article-page .article-detail thead {
    font-size: 18px;
    color: #0077d3; }

.article-page .row {
  padding: 10px;
  margin-top: 45px; }
  .article-page .row .nav-pills {
    border-bottom: 1px solid #eee;
    color: #b3b3b3;
    font-weight: 700;
    margin-bottom: 6px; }
    .article-page .row .nav-pills li > a.active,
    .article-page .row .nav-pills li > a.active:hover,
    .article-page .row .nav-pills li > a.active:focus {
      color: #2385f2 !important;
      background-color: transparent !important;
      text-decoration: none; }
    .article-page .row .nav-pills li > a {
      color: #b3b3b3;
      margin-right: 20px;
      font-size: 17px; }
      .article-page .row .nav-pills li > a:hover {
        background-color: transparent !important;
        color: #2385f2 !important;
        text-decoration: none; }
  .article-page .row .tab-content {
    border: none; }

.article-page .article-content {
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  font-size: 1.2em;
  padding: 10px 20px;
  margin-bottom: 45px; }
  .article-page .article-content .fa-edit {
    color: #007bff;
    margin-left: 10px; }

.article-page .link_modify {
  display: inline-block;
  padding-left: 5px; }

.article-page .modified_info {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
  padding-bottom: 0; }

.article-page .modified_info_content {
  background: #E1F5FE;
  background: -webkit-linear-gradient(#E1F5FE, #18FFFF);
  background: -o-linear-gradient(#E1F5FE, #18FFFF);
  background: -moz-linear-gradient(#E1F5FE, #18FFFF);
  background: linear-gradient(#E1F5FE, #18FFFF);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  background-color: #BBDEFB;
  border-radius: 10px;
  max-height: 60%;
  overflow-y: scroll;
  border: 4px solid #c1c1c1; }

.article-page #mark_modifed {
  color: #e64a19;
  margin-right: 10px;
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1); }

.article-page .content_modified {
  font-size: 17px;
  color: #ef0; }

.article-page .modifed_outer {
  display: inline; }

.article-page .boundary-index {
  height: inherit;
  width: inherit; }

.article-page .boundary-boundary {
  width: calc(100%);
  height: inherit; }

.article-page .article-index {
  border: 1px solid #d1d1d1;
  float: right;
  font-size: 1.2em;
  margin-top: 45px;
  width: 100%; }
  .article-page .article-index .title {
    padding: 8px;
    color: #fff;
    font-weight: bold;
    background-color: #2385f2; }
  .article-page .article-index .content {
    overflow-y: scroll;
    max-height: 400px; }
    .article-page .article-index .content a {
      color: #fff;
      text-decoration: none; }
    .article-page .article-index .content .part_index {
      padding: 8px;
      color: #fff;
      font-weight: bold;
      background-color: #25b4f5; }
    .article-page .article-index .content .chap_index {
      padding: 8px;
      color: #fff;
      font-weight: bold;
      background-color: #d2810e; }
    .article-page .article-index .content .sec_index {
      padding: 8px;
      color: #fff;
      font-weight: bold;
      background-color: #f39d24; }
    .article-page .article-index .content .law_index {
      padding: 8px;
      color: #fff;
      font-weight: bold;
      font-weight: normal;
      border-bottom: 1px solid #c1c1c1; }
      .article-page .article-index .content .law_index a {
        color: #000; }

.article-page .article-topics {
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  font-size: 1.2em;
  padding: 20px 20px 0;
  margin-bottom: 20px; }
  .article-page .article-topics .article-topics-div {
    display: inline-block;
    width: 100%; }
  .article-page .article-topics .topics-title {
    display: inline-block;
    float: left; }
  .article-page .article-topics .topics-detail {
    display: inline-block;
    float: left;
    width: calc(100% - 248px); }
    .article-page .article-topics .topics-detail .topic-element {
      background: #fff;
      border-radius: 3px;
      border: 1px solid #2385f2;
      color: #2385f2;
      cursor: default;
      display: inline-block;
      height: 41px;
      line-height: 26px;
      padding: 5px 8px 10px 23px;
      position: relative;
      margin-left: 15px;
      margin-bottom: 15px;
      text-decoration: none;
      -webkit-transition: color 0.2s; }
    .article-page .article-topics .topics-detail .topic-element::before {
      background: #2385f2;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 17px; }
    .article-page .article-topics .topics-detail .topic-element:hover {
      background-color: #2385f2;
      color: #fff; }
    .article-page .article-topics .topics-detail .topic-element:hover::before {
      background-color: #fff; }

@media (max-width: 1300px) {
  .article-page .article-index {
    visibility: hidden; }
  .article-page .recommend-articles {
    visibility: hidden; }
  .article-page .sticky-col {
    visibility: hidden; } }

@media (max-width: 850px) {
  .article-page .topics-detail {
    margin-top: 15px;
    width: 100% !important; } }

.recommend-articles {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  font-size: 1.2em;
  margin-top: 20px;
  padding-bottom: 7px;
  width: 100%; }
  .recommend-articles .title {
    background-color: #2385f2;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 8px;
    text-align: center; }
  .recommend-articles .article {
    align-items: center;
    display: flex;
    padding: 0 15px 3px;
    width: 100%; }
    .recommend-articles .article .article-ct {
      color: #808080;
      display: inline-block;
      font-size: 1.3em;
      margin-bottom: 0;
      margin-right: 10px;
      width: 32px; }
  .recommend-articles .article-nm-sym {
    display: block !important;
    width: calc(100% - 42px);
    word-wrap: break-word; }
