@import 'variables.scss';

$gray-lighter: #c1c1c1;
$white: #fff;
$black: #000;
$blue-lighter: #318db7;
$blue-more-lighter: #25b4f5;
$yellow-lighter: #d2810e;
$yellow-more-lighter: #f39d24;

.external-circle {
  stroke: #fff;
  stroke-dashoffset: 0;
  transform-origin: center;
  troke-dasharray: 187;
  -webkit-animation: internal 1s ease-in-out infinite;
  animation: internal 1s ease-in-out infinite;
  opacity: .4
}

.modify-container {
  display: table;
  width: 100%;
  #modify-box {
    display: table-cell;
  }
  div[class^='modified-content-'] {
    display: table-cell;
    position: relative;
    padding: 10px;
    width: 0px;
    -webkit-transition: width .5s ;
    transition: width .5s ;
    .fa {
      left: -12px;
      position: absolute;
      color: #FB8C00;
      font-size: 2em;
      transform: rotate(180deg);
      transition: transform 1s ;
      -webkit-transition: transform 1s ;
      top: calc(50% - 14px);
    }
    .modified-content-body {
      display: none;
      width: 100%;
      h5 { 
        text-align: center;
      }
      .modify-content-element {
        margin-top: 10px;
      }
    }
  }
} 

#modify-box {
  background-color: #E1F5FE;
}

#confirm-sticky {
  input[type=text] {
    margin-bottom: 20px;
  }
  .opt-color {
    margin-left: 10px;
    display: inline-block;
    height: 20px;
    width: 40px;
  }
}

a[data-toggle="popover"] {
  text-decoration: none;
  color:  #00cc00;
  &:hover{
    text-decoration: none;
    color:  #00cc00;
  }
}

.popover-body {
  font-size: 1.2em;
}

.tooltip-inner {
  font-size: 1.3em !important;
  background-color: #00cc00 !important; 
}

.tooltip.bs-tooltip-right .arrow:before {
  font-size: 1.3em !important;
  border-right-color: #00cc00 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
  font-size: 1.3em !important;
  border-right-color: #00cc00 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
  font-size: 1.3em !important;
  border-right-color: #00cc00 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
  font-size: 1.3em !important;
  border-right-color: #00cc00 !important;
}
.modal-dialog {
  max-width: 70% !important;
  .modal-body {
    position: relative;
    .timeline {
      position: absolute;
      left: 15px;
      height: calc(100% - 70px);
      width: 5px;
      background-color: #B3E5FC;
      margin-top: 20px;
      margin-bottom: 50px;
    }
    
    .modal-law-modify {
      margin:20px;
      border: 1px solid #eee;
      border-radius: 5px;
      padding: 20px;
      margin-left: 110px;
      .modal-law-modify-date {
        margin-top: 10px;
        position: absolute;
        left: 10px;
        align-items: center;
        vertical-align: middle;
        font-weight: 900;
        svg {
          vertical-align: middle;
        }
      }
      h5 {
        text-decoration:underline;
      }
      .modal-law-modify-content {
        margin-left: 20px;
      }
    }
  }
}

.article-page{

  .btn-text {
    color: #2385f2;
  }

  .fa-paint-brush {
    position: fixed;
  }

  .col-md-sticky {
    padding: 0;
    padding-right: 20px;
  }

  .col-md-index {
    padding: 0;
    padding-left: 20px;
  }

  .sticky-col {
    background-color: $white;
    border: 0.7px solid $gray-medium;
    border-radius: 3px;
    font-size: 1.2em;
    max-height: 70vh;
    margin-top: 45px;
    width: initial;

    .ui.checked.checkbox {
      display: block;
      font-size: 1em;
      padding: 7.5px 15px;
    }

    .sticky-def {
      padding-top: 15px !important;
    }

    .sticky-modify {
      padding-bottom: 15px !important;
    }

    .sticky-btn {
      padding: 5px;
      background: $gray-much-lighter;
      margin-bottom: 15px;
      display: inline-block;
      width: 100%;
      cursor: pointer;
      &:hover{
        background: $gray-more-lighter;
      }
    }

    .sticky-title {
      background: $blue;
      color: $white;
      display: inline-block;
      font-weight: bold;
      padding: 8px;
      text-align: center;
      width: 100%;
    }

    .color-box {
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      border-radius: 2px;
      border: 1px solid #eee;
    }
  }

  .article-detail {
    margin-bottom: 125px;
    font-size: 1.2em;

    table, th, td,thead {
      border: 1px solid $gray-medium;
      border-collapse: collapse;
    }

    th,td,thead {
      padding: 10px;
    }

    table {
      width: 100%;
    }

    .effect-status {
      color: #ff0019;
    }

    thead {
      font-size: 18px;
      color:#0077d3;
    }
  }

  .row {
    padding: 10px;
    margin-top: 45px;

    .nav-pills{
      border-bottom: 1px solid #eee;
      color: #b3b3b3;
      font-weight: 700;
      margin-bottom: 6px;

      li > a.active,
      li > a.active:hover,
      li > a.active:focus {
        color: $blue !important;
        background-color: transparent !important;
        text-decoration: none;
      }
      li > a {
        color: #b3b3b3;
        margin-right: 20px;
        font-size: 17px;
        &:hover {
          background-color: transparent !important;
          color: $blue !important;
          text-decoration: none;
        }
      }
    }
    .tab-content {
      border: none;
    }
  }

  .article-content {
    border: 1px solid $gray-medium;
    border-radius: 3px;
    font-size: 1.2em;
    padding: 10px 20px;
    margin-bottom: 45px;

    .fa-edit {
      color: #007bff;
      margin-left: 10px;
    }
  }

  .link_modify {
    display: inline-block;
    padding-left: 5px;
  }

  .modified_info {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    font-size: 15px;
    padding-bottom:0; 
  }
  .modified_info_content {
    background: #E1F5FE;
    background: -webkit-linear-gradient(#E1F5FE, #18FFFF);
    background: -o-linear-gradient(#E1F5FE, #18FFFF);
    background: -moz-linear-gradient(#E1F5FE, #18FFFF); 
    background: linear-gradient(#E1F5FE, #18FFFF); 
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    background-color: #BBDEFB;
    border-radius: 10px;
    max-height: 60%;
    overflow-y: scroll;
    border: 4px solid $gray-lighter;
  }

  #mark_modifed {
    color:#e64a19;
    margin-right: 10px;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
  }

  .content_modified {
    font-size:17px;
    color:#ef0;
  }

  .modifed_outer{
    display:inline;
  }

  @mixin title_style {
    padding: 8px;
    color: $white;
    font-weight: bold;
  }

  .boundary-index {
    height: inherit;
    width: inherit;
  }

  .boundary-boundary {
    width: calc(100%);
    height: inherit;
  }

  .index {
    border: 1px solid $gray-medium;
    float: right;
    font-size: 1.2em;
    margin-top: 45px;
    width: initial;

    .title {
      @include title_style;
      background-color: $blue;
    }

    .content {
      overflow-y: scroll;
      max-height: 400px;

      a{
        color: $white;
        text-decoration: none;
      }

      .part_index {
        @include title_style;
        background-color: $blue-more-lighter;
      }

      .chap_index {
        @include title_style;
        background-color: $yellow-lighter;
      }

      .sec_index {
        @include title_style;
        background-color: $yellow-more-lighter;
      }

      .law_index {
        @include title_style;
        font-weight: normal;
        border-bottom: 1px solid $gray-lighter;

        a{
          color: $black;
        }
      }
    }
  }

  .article-topics {
    border: 1px solid $gray-medium;
    border-radius: 4px;
    font-size: 1.2em;
    padding: 20px 20px 0;
    margin-bottom: 20px;

    .article-topics-div {
      display: inline-block;
      width: 100%;
    }

    .topics-title {
      display: inline-block;
      float: left;
    }

    .topics-detail {
      display: inline-block;
      float: left;
      width: calc(100% - 248px);

      .topic-element {
        background: $white;
        border-radius: 3px;
        border: 1px solid $blue;
        color: $blue;
        cursor: default;
        display: inline-block;
        height: 41px;
        line-height: 26px;
        padding: 5px 8px 10px 23px;
        position: relative;
        margin-left: 15px;
        margin-bottom: 15px;
        text-decoration: none;
        -webkit-transition: color 0.2s;
      }

      .topic-element::before {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: '';
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 17px;
      }

      .topic-element:hover {
        background-color: $blue;
        color: $white;
      }

      .topic-element:hover::after {
         border-left-color: $blue; 
      }
    }
  }

  @media (max-width: 1315px) {
    .index {
      width: 150px;
      margin-left: 40px;
    }
  }

  @media (max-width: 1200px) {
    .index {
      margin-left: -20px;
    }
  }

  @media (max-width: 992px){
    .index {
      visibility: hidden;
    }
  }
}

.recommend-articles {
  border: 1px solid $gray-medium;
  border-radius: 3px;
  font-size: 1.2em;
  margin-top: 20px;

  .title {
    background-color: $blue;
    color: $white;
    font-weight: bold;
    padding: 8px;
    text-align: center;
  }

  .article {
    display: inline-block;
    width: 100%;

    .article-ct {
      display: inline-block;
    }
  }
}
