@import './variables.scss';

.attorney {
  background-color: $gray-more-lighter;
  min-height: calc(100vh - 225px);

  hr {
    margin-bottom: 25px;
    width: calc(100% - 30px);
  }

  .find {
    display: inline-block;
    font-size: 1.3em;
    padding: 15px;
    padding-top: 25px;

    .title {
      font-size: 1.5em;
      font-weight: bold;
    }

    input {
      border: 1px solid $gray-lighter;
      border-radius: 5px;
      margin-right: 15px;
      margin-top: 15px;
      padding: 8px 12px;
      width: calc((100% - 87px) / 2);

      &:focus {
        outline-width: 1px;
        outline-color: $blue;
      }
    }

    .slogan {
      margin-top: 15px;
    }

    .search-button {
      background-color: $blue;
      border: 0;
      border-radius: 5px;
      color: $white;
      cursor: pointer;
      padding: 8px 18px;
      
      &:focus {
        background-color: $blue-darker;
        outline: 0;
      }
    }
  }

  .search-result {
    font-size: 1.2em;
    .results-statistic {
      padding: 0 15px;
      div {
        display: inline-block;
      }

      .key-search {
        font-weight: bold;
      }
      
      .key-matched {
        margin-left: 10px;
      }
    }
  }

  .attorney-result-content{
    padding: 0 15px;
    margin-bottom: 40px;

    .result-stas {
      font-size: 1.3em;
      margin-bottom: 20px;
    }

    .lawyer{
      background-color: $white;
      border-radius: 3px;
      cursor: pointer;
      display: inline-block;
      min-height: 120px;
      margin-bottom: 20px;
      padding: 0 15px;
      width:  100%;

      &:nth-child(odd) {
        &:hover {
          border-left: 4px solid $blue;
          transition: all .08s ease;
        }
      }

      &:nth-child(even) {
        &:hover {
          border-left: 4px solid $green-darker;
          transition: all .08s ease;
        }
      }

      .ava {
        border-radius: 50%;
        float: left;
        height: 70px;
        margin-top: 15px;
        width: 70px;
      }

      .infor {
        border-right: 5px solid $gray-more-lighter;
        border-radius: 3px;
        display: inline-block;
        float: left;
        font-size: 1.1em;
        height: 100%;
        padding-left: 25px;
        padding-top: 15px;
        width: calc(80% - 85px);

        .name {
          float: left;
          font-size: 1.3em;
          overflow: hidden;
          text-align: left;
          text-overflow: ellipsis;
          width: 70%;
        }

        .specializes {
          display: inline-block;
          padding-bottom: 15px;
          padding-top: 10px;
          width: 70%;
          
          .item {
            border: 2px solid $gray-lighter;
            border-radius: 20px;
            display: inline-block;
            padding: 8px 16px;
            margin-bottom: 10px;
            margin-right: 10px;

            &:hover {
              border-color: $gray-medium-darker;
              transition: all .2s ease;
            }
          }
        }

        .cost {
          color: $blue;
          float: right;
          font-weight: bold;
          padding-right: 15px;

          .value {
            font-size: 1.3em;
          }
        }
      }

      .status-block {
        display: inline-block;
        float: right;
        padding-top: 30px;
        text-align: center;
        width: 20%;

        .status-icon {
          height: 30px !important;
          width: 100% !important;
          position: relative;

          .icon {
            border-radius: 50%;
            bottom: -35px;
            height: 12px;
            margin: 0 auto;
            position: absolute;
            right: 83px;
            width: 12px;
          }
        }

        .status-text {
          font-size: 1.5em;
          padding-top: 45px;
        }

        .online-icon {
          background-color: $online-color;
        }

        .awayicon {
          background-color: $away-color;
        }
      }
    }
  }
}
