@import './variables.scss';

.attorney {
  background-color: $gray-more-lighter;
  padding: 35px 50px 0;
  min-height: calc(100vh - 225px);

  hr {
    margin-bottom: 25px;
    margin-top: 20px;
    width: calc(100% - 30px);
  }

  .top-view {
    .title {
      font-size: 1.2em;
      font-weight: bold;
      padding-top: 10px;
      text-transform: uppercase;
      word-wrap: break-word;
    }

    hr {
      width: 100%;
      margin-bottom: 15px;
    }

    .item {
      background-color: $white;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      margin-bottom: 15px;
      padding: 15px 15px;
      width: 100%;

      &:hover {
        box-shadow: 1px 1px 1px 1px $gray-medium;
        transition: all .4s ease;
      }

      .intro {
        color: $gray-darker;
        float: left;
        margin-left: 10px;
        width: calc(100% - 70px);
      }

      img {
        border-radius: 50%;
        float: left;
        height: 60px;
        width: 60px;
      }

      .name {
        display: inline-block;
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 0;
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .ui.dropdown:not(.button)>.default.text {
    color: $black;
  }

  .pretty .state label {
    text-indent: 1.6em;
  }

  .filter-section {
    .label {
      font-size: 1.3em;
      font-weight: bold;
      padding-top: 10px;
      text-transform: uppercase;
    }

    .specialize {
      .title {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 8px;
      }

      .items {
        font-size: 1.2em;

        .item {
          margin-bottom: 8px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    hr {
      margin-top: 14px;
      width: 100%;
    }
  }

  .search-section {
    align-items: center;
    display: flex;
    padding-bottom: 15px;
    padding-left: 15px;

    form {
      width: 100%;
    }

    .rbt {
      float: left;
      width: calc(100% - 60px);

      .dropdown-item {
        font-size: 1.2em;
        &:hover {
          color: $white;
        }
      }
    }

    .form-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 1.3em;
      padding: 14px 17px;
    }

    button {
      background-color: $blue;
      border: 0;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      color: $white;
      cursor: pointer;
      font-size: 1.4em;
      padding: 12px 20px;

      &:hover {
        background-color: $blue-lighter;
        transition: all .2s ease;
      }

      &:focus {
        background-color: $blue-less-darker;
      }

      &:visited {
        background-color: $blue;
      }
    }
  }

  .attorney-result-content{
    margin-bottom: 40px;
    padding: 0 15px;

    .loading-symbol {
      margin: 6px auto 0;
    }

    .header {
      align-items: center;
      display: flex;
    }

    .sort-by {
      display: inline-block;
      font-size: 1.2em;
      margin-left: auto;
  
      .label {
        display: inline-block;
        margin-right: 10px;
      }

      .ui.dropdown {
        background-color: $white;
        border: 1px solid $gray-lighter;
        border-radius: 5px;
        padding: 5px 8px;

        span.text {
          font-size: 1.1em;
        }
      }
    }

    .header-wrapper {
      display: inline-block;
      padding-right: 10px;
      width: 50%;
    }

    .result-stas {
      display: inline-block;
      font-size: 1.3em;
      width: 100%;
    }

    .suggest {
      display: none;
      font-size: 1.3em;
      width: 100%;

      .suggest-title {
        color: $red;
        display: inline-block;
        font-weight: bold;
      }

      .suggest-name {
        color: $blue;
        cursor: pointer;
        font-weight: bold;
        margin-left: 10px;
        text-decoration: underline;
        word-wrap: break-word;
      }
    }

    .lawyers {
      margin-top: 20px;
    }

    .lawyer{
      background-color: $white;
      border-radius: 3px;
      cursor: pointer;
      display: inline-block;
      min-height: 120px;
      margin-bottom: 20px;
      padding: 0 15px;
      width:  100%;

      &:hover {
        box-shadow: 1px 1px 2px 1px $gray-medium;
        transition: all .3s ease;
      }

      .ava {
        border-radius: 50%;
        float: left;
        height: 70px;
        margin-top: 15px;
        width: 70px;
      }

      .infor {
        border-radius: 3px;
        display: inline-block;
        float: left;
        font-size: 1.1em;
        height: 100%;
        padding-left: 25px;
        padding-top: 15px;
        width: calc(100% - 70px);

        .name {
          float: left;
          font-size: 1.3em;
          max-width: 260px;
          overflow: hidden;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .status {
          border-radius: 20px;
          color: $white;
          display: inline-block;
          font-weight: bold;
          height: 29px;
          margin-left: 15px;
          padding: 3px 3px;
          text-align: center;
          width: 100px;
        }

        .online-status {
          background-color: $online-color;
        }

        .away-status {
          background-color: $away-color;
        }

        .attorney-intro {
          color: $gray-darker;
          width: 80%;
        }

        .rate {
          display: inline-block;
          width: 100%;
        }

        .specializes {
          display: inline-block;
          padding-bottom: 5px;
          padding-top: 10px;
          width: 80%;
          
          .item {
            border: 2px solid $gray-lighter;
            border-radius: 20px;
            display: inline-block;
            padding: 4px 14px;
            margin-bottom: 10px;
            margin-right: 10px;

            &:hover {
              border-color: $gray-medium-darker;
              transition: all .2s ease;
            }
          }
        }

        .cost {
          color: $blue;
          float: right;
          font-weight: bold;

          .value {
            font-size: 1.3em;
          }
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  .attorney {
    .attorney-result-content{
      .header-wrapper {
        width: 56%;
      }
    }
  }
}
