.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #337ab7;
  text-align: center;
  color: #fff;
  padding: 30px 42px 42px; }
  .login-page h1 {
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 5px; }
    .login-page h1 small {
      color: rgba(255, 255, 255, 0.7); }
  .login-page input {
    font-size: 1.4em; }
  .login-page .form-group {
    padding: 8px 0; }
  .login-page .form-content {
    padding: 20px 0 0; }

.input-underline {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4) !important;
  border-radius: 0 !important;
  color: #FFF !important; }
  .input-underline::-moz-placeholder {
    color: #bbe1f5 !important; }
  .input-underline::-ms-input-placeholder {
    color: #bbe1f5 !important; }
  .input-underline::-webkit-input-placeholder {
    color: #bbe1f5 !important; }
  .input-underline:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none; }

.btn-outline {
  background: none;
  border-color: transparent;
  font-weight: 400; }
  .btn-outline:hover {
    background: none;
    border-color: transparent; }
  .btn-outline.btn-white {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
    color: rgba(255, 255, 255, 0.8); }
    .btn-outline.btn-white:hover {
      box-shadow: 0 0 0 2px white inset;
      color: white; }
  .btn-outline.btn-primary {
    box-shadow: 0 0 0 2px #2089c9 inset;
    color: #2089c9; }
    .btn-outline.btn-primary:hover {
      box-shadow: 0 0 0 2px #3ca2e0 inset;
      color: #3ca2e0; }
  .btn-outline.btn-success {
    box-shadow: 0 0 0 2px #449d44 inset;
    color: #449d44; }
    .btn-outline.btn-success:hover {
      box-shadow: 0 0 0 2px #5cb85c inset;
      color: #5cb85c; }
  .btn-outline.btn-info {
    box-shadow: 0 0 0 2px #31b0d5 inset;
    color: #31b0d5; }
    .btn-outline.btn-info:hover {
      box-shadow: 0 0 0 2px #5bc0de inset;
      color: #5bc0de; }
  .btn-outline.btn-warning {
    box-shadow: 0 0 0 2px #ec971f inset;
    color: #ec971f; }
    .btn-outline.btn-warning:hover {
      box-shadow: 0 0 0 2px #f0ad4e inset;
      color: #f0ad4e; }
  .btn-outline.btn-danger {
    box-shadow: 0 0 0 2px #c9302c inset;
    color: #c9302c; }
    .btn-outline.btn-danger:hover {
      box-shadow: 0 0 0 2px #d9534f inset;
      color: #d9534f; }

.redirect-to {
  font-size: 18px;
  padding-left: 10px !important;
  text-align: left; }
  .redirect-to a {
    color: #ffb460;
    font-weight: bold;
    margin-left: 10px; }
    .redirect-to a:focus {
      outline: none;
      color: #ffb460; }
    .redirect-to a:hover {
      color: #ffb460; }

.btn-rounded {
  border-radius: 50px; }

.btn-lg {
  border-radius: 50px !important; }
