.login-page {
  background-color: #f6f6f6;
  bottom: 0;
  color: #2385f2;
  font-size: .9em;
  left: 0;
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0; }
  .login-page .header-nav {
    font-size: 1.1em; }
  .login-page .justify-content-md-center {
    max-width: 100%;
    min-height: calc(100vh - 63.5px);
    padding: 20px; }
    .login-page .justify-content-md-center .box {
      background-color: #fff;
      border: 1px solid #f1f1f1;
      border-radius: 5px;
      margin-top: 85px;
      padding: 15px 30px 30px;
      position: relative; }
      .login-page .justify-content-md-center .box .app-logo {
        border-radius: 50%;
        height: 100px;
        left: calc(50% - 50px);
        position: absolute;
        top: -78px;
        width: 100px;
        z-index: 100; }
      .login-page .justify-content-md-center .box .elip-section {
        background-color: #f6f6f6;
        border-bottom: 1px solid #f1f1f1;
        border-radius: 50%;
        height: 110px;
        position: absolute;
        top: -80px;
        left: calc(50% - 55px);
        width: 110px; }
    .login-page .justify-content-md-center input {
      border-radius: 5px !important;
      color: #000;
      font-size: 1.4em;
      padding: 10px 15px; }
    .login-page .justify-content-md-center button {
      background-color: #2385f2;
      border-radius: 5px !important;
      color: #fff;
      cursor: pointer;
      padding: 10px 0;
      text-transform: uppercase;
      width: 100%; }
      .login-page .justify-content-md-center button:focus {
        background-color: #0974b8;
        box-shadow: none;
        outline: 0;
        transition: all .3s ease; }
  .login-page h1 {
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 5px; }
    .login-page h1 small {
      color: #2385f2; }
  .login-page .form-content {
    padding: 30px 0 0; }

.btn-outline {
  background-color: #2385f2;
  border-color: transparent;
  font-weight: 400; }
  .btn-outline:hover {
    background: none;
    border-color: transparent; }
  .btn-outline.btn-white {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
    color: rgba(255, 255, 255, 0.8); }
    .btn-outline.btn-white:hover {
      box-shadow: 0 0 0 2px white inset;
      color: white; }
  .btn-outline.btn-primary {
    box-shadow: 0 0 0 2px #2089c9 inset;
    color: #2089c9; }
    .btn-outline.btn-primary:hover {
      box-shadow: 0 0 0 2px #3ca2e0 inset;
      color: #3ca2e0; }
  .btn-outline.btn-success {
    box-shadow: 0 0 0 2px #449d44 inset;
    color: #449d44; }
    .btn-outline.btn-success:hover {
      box-shadow: 0 0 0 2px #5cb85c inset;
      color: #5cb85c; }
  .btn-outline.btn-info {
    box-shadow: 0 0 0 2px #31b0d5 inset;
    color: #31b0d5; }
    .btn-outline.btn-info:hover {
      box-shadow: 0 0 0 2px #5bc0de inset;
      color: #5bc0de; }
  .btn-outline.btn-warning {
    box-shadow: 0 0 0 2px #ec971f inset;
    color: #ec971f; }
    .btn-outline.btn-warning:hover {
      box-shadow: 0 0 0 2px #f0ad4e inset;
      color: #f0ad4e; }
  .btn-outline.btn-danger {
    box-shadow: 0 0 0 2px #c9302c inset;
    color: #c9302c; }
    .btn-outline.btn-danger:hover {
      box-shadow: 0 0 0 2px #d9534f inset;
      color: #d9534f; }

.redirect-to {
  font-size: 18px;
  padding-left: 10px !important;
  text-align: left; }
  .redirect-to a {
    color: #fd9d16;
    font-weight: bold;
    margin-left: 10px; }
    .redirect-to a:focus {
      outline: none;
      color: #fd9d16; }
    .redirect-to a:hover {
      color: #fd9d16; }

.btn-rounded {
  border-radius: 50px; }

.btn-lg {
  border-radius: 50px !important; }
