$white: #fff;

.brand {
  color: $white;
  font-weight: bold;
  margin-top: 45px;
  line-height: 1;

  .app-name {
    font-size: 4.5em;
    margin-bottom: 10px;
  }

  .slogan {
    font-size: 2.5em;
  }
}