@import 'variables.scss';

.item-content{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5px 10px;  
  margin-bottom: 10px;
  div{
    display: flex;
    align-items: center;
    img{
      margin-right: 20px;
    }
    .icon-container{
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
    }
    .fa-clock-o{
      font-size: 1.5em;
      color: #2385f2;
    }
  }
  .payment{
    background-color: $white;
    border: 0;  
    border-radius: 3px;
    padding: 5px 10px;
    color: $red;
    cursor: pointer;
    &:hover{
      background-color: $gray-medium;
    }  
  }

}
