.button-call {
  margin: 5px 0px 0px 10px !important;
  width: 240px; }

.ui .modal {
  height: 470px; }
  .ui .modal .close:hover {
    background-color: transparent; }
  .ui .modal .close {
    color: #000;
    right: 0;
    top: 0; }
    .ui .modal .close:after {
      width: 0; }
  .ui .modal .description {
    padding-left: 15px;
    width: 0; }
    .ui .modal .description textarea {
      max-height: 200px;
      padding: 10px;
      width: 100%; }

.ui.medium.image {
  display: flex;
  height: 300px;
  width: 300px;
  text-align: center; }

.ui.image img {
  margin: auto;
  max-height: 100%; }

.chat-setting {
  border-left: 1px solid #e5ecf0;
  border-right: 1px solid #e5ecf0;
  float: right;
  font-size: 1.05em;
  height: calc(100vh - 55px);
  overflow-y: hidden;
  text-align: left;
  width: 320px; }
  .chat-setting .custom-content {
    margin-bottom: -26px !important; }
  .chat-setting .ui.dropdown .menu {
    font-size: 1.1em; }
  .chat-setting .config .ui.dropdown .menu {
    left: -140px;
    top: 35px; }
  .chat-setting .header {
    align-items: center;
    border-bottom: 1px solid #e5ecf0;
    display: flex;
    padding: 15px 17px 11px 17px; }
    .chat-setting .header .ava {
      margin-right: 12px; }
      .chat-setting .header .ava img {
        border-radius: 50%;
        height: 50px;
        width: 50px; }
    .chat-setting .header .info {
      width: 215px; }
      .chat-setting .header .info .user-name {
        font-size: .95em;
        overflow: hidden;
        text-overflow: ellipsis; }
    .chat-setting .header .config {
      color: #a2a2a2;
      cursor: pointer; }
  .chat-setting .content .shared {
    border-bottom: 1px solid #e5ecf0;
    padding: 15px; }
    .chat-setting .content .shared a {
      display: block;
      font-size: .9em;
      margin-bottom: 3px;
      max-width: 100%;
      word-wrap: break-word; }
  .chat-setting .content .shared-files .content-title, .chat-setting .content .shared-images .content-title {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    position: relative; }
    .chat-setting .content .shared-files .content-title:after, .chat-setting .content .shared-images .content-title:after {
      content: "\f106";
      font-family: FontAwesome;
      font-size: 1.2em;
      position: absolute;
      right: 10px; }
  .chat-setting .content .content-title {
    color: #a2a2a2;
    font-size: .9em;
    margin-bottom: 3px;
    padding: 0;
    text-align: left;
    text-transform: none;
    width: 100%; }
  .chat-setting .content .content-title.collapsed:after {
    content: "\f107";
    font-family: FontAwesome; }

@-moz-document url-prefix() {
  .chat-setting {
    font-size: .95em; }
    .chat-setting .content-title {
      padding-left: 0; } }
