.button-call {
  margin: 5px 0px 0px 10px !important;
  width: 240px; }

.ui .modal {
  height: 470px; }
  .ui .modal .close:hover {
    background-color: transparent; }
  .ui .modal .close {
    color: #000;
    right: 0;
    top: 0; }
    .ui .modal .close:after {
      width: 0; }
  .ui .modal .description {
    padding-left: 15px;
    width: 0; }
    .ui .modal .description textarea {
      max-height: 200px;
      padding: 10px;
      width: 100%; }

.ui.medium.image {
  display: flex;
  height: 300px;
  width: 300px;
  text-align: center; }

.ui.image img {
  margin: auto;
  max-height: 100%; }

.chat-setting {
  border-right: 1px solid #e5ecf0;
  float: right;
  font-size: 1.05em;
  height: calc(100vh - 58px);
  overflow-y: scroll;
  text-align: left;
  width: 320px; }
  .chat-setting .ui.dropdown .menu {
    font-size: 1.1em; }
  .chat-setting .config .ui.dropdown .menu {
    left: -140px;
    top: 35px; }
  .chat-setting .header {
    align-items: center;
    border-bottom: 1px solid #e5ecf0;
    display: flex;
    padding: 15px 17px 11px 17px; }
    .chat-setting .header .ava {
      margin-right: 12px; }
      .chat-setting .header .ava img {
        border: 1px solid #6298f7;
        border-radius: 50%;
        height: 50px;
        width: 50px; }
    .chat-setting .header .info {
      width: 215px; }
      .chat-setting .header .info .user-name {
        overflow: hidden;
        text-overflow: ellipsis; }
    .chat-setting .header .config {
      color: #a2a2a2;
      cursor: pointer; }
  .chat-setting .content .shared {
    border-bottom: 1px solid #e5ecf0;
    padding: 15px; }
    .chat-setting .content .shared a {
      display: block;
      margin-bottom: 3px;
      max-width: 100%;
      word-wrap: break-word; }
  .chat-setting .content .content-title {
    color: #a2a2a2;
    text-transform: none;
    margin-bottom: 3px; }
