.active-link {
  background-color: rgba(0, 0, 0, 0.05); }

.chat-ui {
  background-color: #fff;
  display: inline-block;
  height: 100vh;
  overflow-y: hidden;
  width: 100%; }

.chat-window {
  border-right: 1px solid #e5ecf0;
  font-size: 1.2em;
  float: left;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  width: calc(100% - 320px); }
  .chat-window #upfile {
    display: none; }
  .chat-window .title {
    border-bottom: 1px solid #e5ecf0;
    color: #3ca2e0;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }
    .chat-window .title .user-name {
      display: inline-block; }
    .chat-window .title .fa {
      float: right;
      margin-left: 15px; }
  .chat-window .chats {
    border-right: 1px solid #e5ecf0;
    float: left;
    height: calc(100vh - 95px);
    overflow-y: scroll;
    padding: 25px;
    width: calc(100% - 320px); }
  .chat-window .text-box {
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #e5ecf0;
    border-right: 1px solid #e5ecf0;
    bottom: 0;
    display: flex;
    font-size: 1em;
    height: 60px;
    overflow-y: hidden;
    position: absolute;
    width: calc(100% - 320px); }
    .chat-window .text-box .fa {
      cursor: pointer;
      float: right; }
    .chat-window .text-box .fa-file-image-o {
      color: #c0c0c0;
      font-size: 1.1em; }
    .chat-window .text-box .addons-field {
      height: 100%;
      padding: 23px 15px;
      width: calc(100% - 550px); }
    .chat-window .text-box .field {
      height: 45px;
      margin-bottom: 10px;
      margin-top: 5px; }
    .chat-window .text-box textarea {
      border: 0;
      font-size: 0.95em;
      height: 45px;
      overflow: hidden;
      padding: 18px 15px 0 15px;
      resize: none;
      width: 550px; }
      .chat-window .text-box textarea:focus {
        outline: 0; }
