.active-link {
  background-color: rgba(0, 0, 0, 0.05); }

.chat-ui {
  background-color: #fff;
  height: 100vh;
  overflow-y: hidden;
  width: 100%; }

.video-call {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 1000;
  width: 100%; }
  .video-call .video {
    background-color: #000;
    display: block;
    height: 500px;
    margin: calc((100vh - 592px) / 2) auto 30px;
    width: 500px; }
  .video-call .end-call-btn {
    background-color: #e54040;
    border: 0;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 1.7em;
    padding: 10px 20px; }
    .video-call .end-call-btn:focus {
      outline: 0; }

.chat-window {
  border-right: 1px solid #e5ecf0;
  font-size: 1.2em;
  float: left;
  height: 100%;
  width: calc(100% - 320px); }
  .chat-window #upfile {
    display: none; }
  .chat-window .fa-video-camera {
    cursor: pointer; }
  .chat-window .call-section {
    display: inline-block;
    float: right; }
  .chat-window .title {
    align-items: center;
    border-bottom: 1px solid #e5ecf0;
    color: #2385f2;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    width: 100%;
    height: 54px; }
    .chat-window .title .user-name {
      color: #000;
      font-size: 1em;
      display: inline-block;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: calc(100% - 66px); }
    .chat-window .title .fa {
      float: right;
      font-size: 1.2em;
      margin-left: 15px; }
  .chat-window .chats {
    height: auto;
    padding: 25px;
    width: 100%; }
    .chat-window .chats .time-me, .chat-window .chats .time-you {
      font-family: "Montserrat", sans-serif !important; }
    .chat-window .chats .bubble {
      font-family: "Montserrat", sans-serif !important; }
  .chat-window .chat-body {
    border-right: 1px solid #e5ecf0;
    float: left;
    height: calc(100vh - 50px);
    position: relative;
    width: calc(100% - 320px); }
    .chat-window .chat-body .custom-content {
      margin-bottom: -26px !important; }
  .chat-window .text-box {
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #e5ecf0;
    display: flex;
    font-size: 1em;
    height: 60px;
    width: 100%; }
    .chat-window .text-box .fa {
      color: #808080;
      cursor: pointer;
      float: right;
      margin-left: 15px; }
      .chat-window .text-box .fa:active {
        color: #d1d1d1; }
    .chat-window .text-box .fa-file-image-o {
      font-size: 1.3em; }
    .chat-window .text-box .fa-smile-o {
      font-size: 1.5em; }
    .chat-window .text-box .addons-field {
      height: 100%;
      padding: 23px 15px;
      width: 40%; }
    .chat-window .text-box .field {
      height: 100%;
      width: 60%; }
    .chat-window .text-box textarea {
      border: 0;
      font-size: 0.95em;
      height: 100%;
      overflow: hidden;
      padding: 23px 15px 15px;
      resize: none;
      width: 100%; }
      .chat-window .text-box textarea:focus {
        outline: 0; }

#rate-box {
  color: #808080;
  font-size: 1.2em;
  padding: 15px 0 0;
  text-align: center; }
  #rate-box .content {
    padding: 0; }
  #rate-box .rate-form {
    height: 100%; }
    #rate-box .rate-form .time-stamp {
      border-bottom: 1px dotted #6298f7;
      margin-bottom: 10px;
      padding-bottom: 15px; }
    #rate-box .rate-form .cost-money {
      margin-bottom: 5px; }
      #rate-box .rate-form .cost-money .title {
        margin-bottom: 0; }
      #rate-box .rate-form .cost-money .value {
        color: #2385f2;
        font-size: 1.9em;
        font-weight: bold; }
    #rate-box .rate-form .tips {
      margin: 0 auto 20px auto;
      width: 90%; }
    #rate-box .rate-form footer {
      background-color: #2385f2;
      color: #fff;
      margin-top: 15px;
      padding: 15px; }
      #rate-box .rate-form footer .thanks {
        font-size: 1.6em;
        font-weight: bold;
        margin-bottom: 10px; }
      #rate-box .rate-form footer img {
        border-radius: 50%;
        border: 5px solid #fff;
        height: 110px;
        margin-bottom: 10px;
        width: 110px; }
      #rate-box .rate-form footer .rate .title {
        margin-bottom: 10px; }
      #rate-box .rate-form footer button {
        background-color: #FF4F20;
        border: 0;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 9px;
        margin-top: 10px;
        padding: 14px 20px; }
        #rate-box .rate-form footer button:hover {
          background-color: #fff;
          color: #FF4F20;
          transition: all .5s ease; }
        #rate-box .rate-form footer button:focus {
          outline: 0; }
  #rate-box .stars div {
    display: inline-block; }

@-moz-document url-prefix() {
  #rate-box {
    max-height: 524px; }
  .chat-window .chat-body {
    height: calc(100vh - 47px); }
  .chat-window .title {
    font-size: .9em;
    height: 47px;
    padding: 12px; }
    .chat-window .title .fa {
      font-size: 1.1em; } }

#emoji-picker {
  bottom: 70px;
  position: absolute;
  right: 15px;
  visibility: hidden; }
