@import 'variables.scss';

.video{
  background-color: #ddd;
  border-radius: 7px;
  margin: 10px 0px 0px 10px;
  width: 240px;
  height: 180px;
}

.button-call{
  margin: 5px 0px 0px 10px !important;
  width: 240px;
}

.ui .modal {
  height: 470px;

  .description {
    padding-left: 15px;

    textarea {
      max-height: 200px;
      padding: 10px;
      width: 100%;
    }
  }
}

.ui.medium.image {
  display: flex;
  height: 300px;
  width: 300px;
  text-align: center;
}

.ui.image img {
  margin: auto;
}

.chat-setting {
  border-right: 1px solid $gray-lighter;
  float: right;
  font-size: 1.05em;
  height: calc(100vh - 52px);
  overflow-y: scroll;
  text-align: left;
  width: 320px;

  .ui.dropdown .menu {
    font-size: 1.3em;
  }

  .config .ui.dropdown .menu {
    left: -120px;
    top: 25px;
  }

  .header {
    align-items: center;
    border-bottom: 1px solid $gray-lighter;
    display: flex;
    padding: 15px 17px 11px 17px;

    .ava {
      margin-right: 12px;

      img {
        border: 1px solid $blue-lighter;
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }
    }

    .info {
      width: 215px;
    }

    .config {
      color: $gray;
      cursor: pointer;
    }
  }

  .content {
    .shared {
      border-bottom: 1px solid $gray-lighter;
      padding: 15px;

      a {
        display: block;
        margin-bottom: 3px;
        max-width: 100%;
        word-wrap:break-word;
      }
    }

    .content-title {
      color: $gray;
      text-transform: none;
      margin-bottom: 3px;
    }
  }
}
