@import 'variables.scss';

.button-call{
  margin: 5px 0px 0px 10px !important;
  width: 240px;
}

.ui .modal {
  height: 470px;

  .close:hover {
    background-color: transparent;
  }

  .close {
    color: $black;
    right: 0;
    top: 0;

    &:after{
      width: 0;
    }
  }

  .description {
    padding-left: 15px;
    width: 0;

    textarea {
      max-height: 200px;
      padding: 10px;
      width: 100%;
    }
  }
}

.ui.medium.image {
  display: flex;
  height: 300px;
  width: 300px;
  text-align: center;
}

.ui.image img {
  margin: auto;
  max-height: 100%;
}

.chat-setting {
  border-right: 1px solid $gray-lighter;
  float: right;
  font-size: 1.05em;
  height: calc(100vh - 55px);
  overflow-y: hidden;
  text-align: left;
  width: 320px;

  .custom-content {
    margin-bottom: -26px !important;
  }

  .ui.dropdown .menu {
    font-size: 1.1em;
  }

  .config .ui.dropdown .menu {
    left: -140px;
    top: 35px;
  }

  .header {
    align-items: center;
    border-bottom: 1px solid $gray-lighter;
    display: flex;
    padding: 15px 17px 11px 17px;

    .ava {
      margin-right: 12px;

      img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }
    }

    .info {
      width: 215px;

      .user-name {
        font-size: .95em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .config {
      color: $gray;
      cursor: pointer;
    }
  }

  .content {
    .shared {
      border-bottom: 1px solid $gray-lighter;
      padding: 15px;

      a {
        display: block;
        font-size: .9em;
        margin-bottom: 3px;
        max-width: 100%;
        word-wrap:break-word;
      }
    }

    .shared-files, .shared-images {
      .content-title {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        outline: 0;
        position: relative;

        &:after {
          content: "\f106";
          font-family: FontAwesome;
          font-size: 1.2em;
          position: absolute;
          right: 10px;
        }
      }
    }

    .content-title {
      color: $gray;
      font-size: .9em;
      margin-bottom: 3px;
      padding: 0;
      text-align: left;
      text-transform: none;
      width: 100%;
    }

    .content-title.collapsed {
      &:after {
        content: "\f107";
        font-family: FontAwesome;
      }
    }
  }
}

.session-infor {
  .content-title {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    position: relative;
    text-align: left;
    width: 100%;

    &:after {
      content: "\f106";
      font-family: FontAwesome;
      font-size: 1.2em;
      position: absolute;
      right: 10px;
    }
  }

  .content-title.collapsed {
    &:after {
      content: "\f107";
      font-family: FontAwesome;
    }
  }
  .content-title.no-icon {
    &:after {
      content: "\f107";
      font-family: FontAwesome;
      display: none;
    }
  }
}
@-moz-document url-prefix() {
  .chat-setting {
    font-size: .95em;

    .content-title {
      padding-left: 0;
    }
  }
}
