@import 'variables.scss';

.active-link {
  background-color: $black-trans;
}

.chat-ui {
  background-color: $white;
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
}

.video-call {
  background-color: $black-trans-darker;
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 1000;
  width: 100%;

  .video {
    background-color: $black;
    display: block;
    height: 500px;
    margin: calc((100vh - 592px) / 2) auto 30px;
    width: 500px;
  }

  .end-call-btn {
    background-color: $red;
    border: 0;
    border-radius: 50%;
    color: $white;
    cursor: pointer;
    font-size: 1.7em;
    padding: 10px 20px;

    &:focus {
      outline: 0;
    }
  }
}

.chat-window {
  border-right: 1px solid $gray-lighter;
  font-size: 1.2em;
  float: left;
  height: 100%;
  width: calc(100% - 320px);

  #upfile {
    display: none;
  }

  .fa-video-camera {
    cursor: pointer;
  }

  .call-section {
    display: inline-block;
    float: right;
  }

  .title {
    align-items: center;
    border-bottom: 1px solid $gray-lighter;
    color: $blue;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    width: 100%;
    height: 54px;

    .user-name {
      color: $black;
      font-size: 1em;
      display: inline-block;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: calc(100% - 66px);
    }

    .fa {
      float: right;
      font-size: 1.2em;
      margin-left: 15px;
    }
  }

  .chats {
    height: auto;
    padding: 25px;
    width: 100%;

    .time-me, .time-you {
      font-family: "Montserrat", sans-serif !important;
    }

    .bubble {
      font-family: "Montserrat", sans-serif !important;
    }
  }

  .chat-body {
    border-right: 1px solid $gray-lighter;
    float: left;
    height: calc(100vh - 50px);
    position: relative;
    width: calc(100% - 320px);

    .custom-content {
      margin-bottom: -26px !important;
    }
  }

  .text-box {
    align-items: center;
    background-color: $white;
    border-top: 1px solid $gray-lighter;
    display: flex;
    font-size: 1em;
    height: 60px;
    width: 100%;

    .fa {
      color: $gray-darker;
      cursor: pointer;
      float: right;
      margin-left: 15px;

      &:active {
        color: $gray-medium;
      }
    }

    .fa-file-image-o {
      font-size: 1.3em;
    }

    .fa-smile-o {
      font-size: 1.5em;
    }

    .addons-field {
      height: 100%;
      padding: 23px 15px;
      width: 40%;
    }

    .field {
      height: 100%;
      width: 60%;
    }

    textarea {
      border: 0;
      font-size: 0.95em;
      height: 100%;
      overflow: hidden;
      padding: 23px 15px 15px;
      resize: none;
      width: 100%;

      &:focus {
        outline: 0;
      }
    }
  }
}

#rate-box {
  color: $gray-darker;
  font-size: 1.2em;
  padding: 15px 0 0;
  text-align: center;

  .content {
    padding: 0;
  }

  .rate-form {
    height: 100%;

    .time-stamp {
      border-bottom: 1px dotted $blue-lighter;
      margin-bottom: 10px;
      padding-bottom: 15px;
    }

    .cost-money {
      margin-bottom: 5px;

      .title {
        margin-bottom: 0;
      }

      .value {
        color: $blue;
        font-size: 1.9em; 
        font-weight: bold;
      }
    }

    .tips {
      margin: 0 auto 20px auto;
      width: 90%;
    }

    footer {
      background-color: $blue;
      color: $white;
      margin-top: 15px;
      padding: 15px;

      .thanks {
        font-size: 1.6em;
        font-weight: bold;
        margin-bottom: 10px;
      }

      img {
        border-radius: 50%;
        border: 5px solid $white;
        height: 110px;
        margin-bottom: 10px;
        width: 110px;
      }

      .rate {
        .title {
          margin-bottom: 10px;
        }
      }

      button {
        background-color: $orange;
        border: 0;
        border-radius: 5px;
        color: $white;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 9px;
        margin-top: 10px;
        padding: 14px 20px;

        &:hover {
          background-color: $white;
          color: $orange;
          transition: all .5s ease;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .stars {
    div {
      display: inline-block;
    }  
  }
}

@-moz-document url-prefix() {
  #rate-box {
    max-height: 524px;
  }

  .chat-window {
    .chat-body {
      height: calc(100vh - 47px);
    }

    .title {
      font-size: .9em;
      height: 47px;
      padding: 12px;
  
      .fa {
        font-size: 1.1em;
      }
    }
  }
}

#emoji-picker {
  bottom: 70px;
  position: absolute;
  right: 15px;
  visibility: hidden;
  z-index: 100;
}
