.container-customer-wrapper {
  background-color: #f6f6f6;
  height: calc(100vh - 227px);
  padding: 60px 160px; }
  .container-customer-wrapper .profile-header {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #e5ecf0;
    padding: 40px; }
    .container-customer-wrapper .profile-header .col-md-3, .container-customer-wrapper .profile-header .col-md-9 {
      padding: 0; }
    .container-customer-wrapper .profile-header .col-sm-12 .basic-infor {
      margin-top: 15px; }
    .container-customer-wrapper .profile-header .avatar {
      display: inline-block;
      float: left;
      text-align: center;
      width: 100%; }
      .container-customer-wrapper .profile-header .avatar img {
        border-radius: 50%;
        height: 150px;
        width: 150px; }
    .container-customer-wrapper .profile-header .basic-infor {
      float: left;
      font-size: 1.2em;
      padding-left: 10px; }
      .container-customer-wrapper .profile-header .basic-infor .name {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 7px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .container-customer-wrapper .profile-header .basic-infor .fa {
        font-size: 1.2em;
        margin-right: 10px; }

@media (max-width: 1100px) {
  .container-customer-wrapper {
    padding: 60px 80px; } }

@media (max-width: 900px) {
  .container-customer-wrapper {
    padding: 50px 50px; } }
