@import './variables.scss';

.fc-content {
  color: $white;
}

.app-header.navbar .nav-item .nav-link .badge {
  background-color: $red !important;
  font-size: .5em;
}

.app-header.navbar {
  border-bottom: solid 1px $border-color;

  .navbar-nav .dropdown-toggle {
    align-items: center;
    color: #536c79 !important;
    display: flex;
    font-size: .8em;
  }

  .img-avatar {
    margin-right: 8px !important;
  }

  .navbar-brand {
    align-items: center;
    border-bottom: none !important;
    color: $blue;
    display: flex;
    height: 50px !important;
    justify-content: center;
    width: 225px !important;
  }

  .navbar-nav {
    display: flex !important;
  }

  .dropdown-item {
    min-width: 50px;
    width: 100%;
  }

  .dropdown-menu {
    background-color: $white;
    cursor: pointer;
    width: 187px;
  
    .dropdown-header {
      font-size: .9em;
    }
  
    button.dropdown-item {
      cursor: pointer;
      font-size: 1.1em;
    }
  }
}

.app-body .main {
  background-color: $main-background;
  height: calc(100vh - 55px);

  .custom-content {
    margin-bottom: -26px !important;
  }

  .breadcrumb {
    background-color: $white !important;
    border-radius: 0;
    font-size: 1.2em;
    margin-bottom: 0;
    width: 100%;
  }

  .container-fluid {
    padding: 15px !important;
  }
}

.app-body .main-customer .container-fluid {
  padding: 0 !important;
}

.app-body {
  height: calc(100vh - 56px);  
  overflow-y: hidden;

  #calendar {
    width: calc(100% - 1px);
  }

  .nothing-todo-title {
    font-size: 1.2em;
  }

  .chat-setting .content .content-title {
    color: $black;
    font-size: 1.2em;
  }

  .sidebar {
    .custom-content {
      margin-bottom: -26px !important;
    }
  }

  .chat-section {
    border-left: 1px solid $border-color;
    display: inline-block;
    transition: all .5s ease;
    width: calc((100% - 295px) / 2);
  }

  .chat-users-list-wrapper {
    border-right: 1px solid $border-color;
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 70px;

    .custom-content {
      margin-bottom: -26px !important;
    }
  }

  .chat-users-list {
    display: inline-block;
    overflow-x: hidden;
    width: 100%;

    .active-link {
      background-color: $gray-lighter;
    }

    .chat-user {
      padding: 10px;

      img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }
    }
  }

  .bubble-img {
    img {
      max-height: 230px !important;
      max-width: 230px !important;
    }
  }
  
  .chat-box-wrapper {
    display: inline-block;
    height: calc(100vh - 55px);
    width: calc(100% - 70px);
  }

  .bubble-img {
    img {
      max-height: 230px !important;
      max-width: 230px !important;
    }
  }


  #upfile {
    display: none;
  }

  .chat-box {
    display: inline-block;
    float: left;
    width: 100%;

    .custom-content {
      margin-bottom: -26px !important;
    }

    .input-section {
      align-items: center;
      display: flex;

      .addons-field {
        display: flex;
      }

      .fa {
        color: $gray-darker;
        cursor: pointer;
        float: left;
        font-size: 1.5em;
        margin-right: 15px;

        &:active {
          color: $gray-medium;
        }
      }
    }

    .input-section {
      border-top: 1px solid #c2cfd6;
      height: 60px;
      width: 100%;
    }

    textarea {
      border: 0;
      font-size: 1.2em;
      height: 100%;
      overflow: hidden;
      padding: 20px 15px 15px;
      resize: none;
      width: 85%;

      &:focus {
        outline: 0;
      }
    }

    .chats {
      height: auto;
      padding: 15px 15px 10px;

      .ReactTags__selected {
        font-family: "Montserrat", sans-serif !important;
        width: 230px;
      }

      .ReactTags__tag {
        display: inline-block;
        margin-right: 5px;
        margin-top: 0;
        padding: 2px 3px;
      }

      .ReactTags__tagInputField {
        border: 0;
        border-radius: 5px;
        outline: 0;
        padding-left: 8px;
        width: 100% !important;
      }

      .bubble {
        font-family: "Montserrat", sans-serif !important;
      }

      .time-me, .time-you {
        font-family: "Montserrat", sans-serif !important;
      }
    }
  }

  .chat-setting {
    border-left: none;
    border-right: none;
    overflow-y: hidden;
    width: 100%;

    .header {
      border: 0;
      padding: 15px;
    
      .user-name {
        font-size: 1.2em !important;
      }
    }

    .shared-images {
      background-color: $gray-more-lighter;
    }

    .shared-files {
      border-left: 1px solid $gray-more-lighter;
      border-right: 1px solid $gray-more-lighter;
      width: calc(100% - 1px) !important;
    }

    .shared {
      border-bottom: 0 !important;
      padding: 20px !important;
      width: 100%;

      a {
        font-size: 1.1em !important;
      }
    }

    .description {
      background-color: $gray-more-lighter;
      display: inline-block;
      padding: 20px;
      width: 100%;

      .title {
        color: $black;
        font-size: 1.2em;
        margin-bottom: 3px;
        text-transform: none;
      }

      .text-descrip {
        background-color: $white;
        margin: 10px 0 15px;
        padding: 10px;
      }

      form {
        margin: 15px 0 0;

        textarea {
          margin-bottom: 15px;
          padding: 10px;
          width: 100%;
        }
      }

      button {
        background-color: $blue;
        border: 0;
        border-radius: 3px;
        color: $white;
        cursor: pointer;
        font-size: 1.2em;
        padding: 7px 11px;

        &:hover {
          background-color: $blue-darker;
          transition: all .3s ease;
        }

        &:focus {
          background-color: $blue-much-darker;
          outline: 0;
        }
      }
    }
  }

  .chat-section {
    background-color: $white;
    height: calc(100vh - 55px);
    position: relative;

    .video-call {
      height: calc(100vh - 54px);

      .video {
        height: 380px;
        margin: calc((100vh - 466px) /2) calc((100% - 345px) / 2) 30px;
        width: 380px;
      }

      .end-call-btn {
        margin-left: 30px;
      }
    }

    .header {
      align-items: center;
      border-bottom: 1px solid $border-color;
      color: $blue;
      display: flex;
      float: left;
      font-size: 1.2em;
      padding: 10px;
      position: relative;
      width: 100%;

      .user-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 85%;
      }

      .fa {
        cursor: pointer;
        margin-right: 10px;
        position: absolute;
      }

      .fa-phone {
        right: 27px;
      }

      .fa-video-camera {
        right: 3px;
      }

      .ui.dropdown {
        float: right;
        position: absolute;
        right: 55px;

        .menu {
          left: -130px;
          top: 30px;
        }
      }
    }
  }
}

.app-body .sidebar {
  height: calc(100vh - 56px);
}

.nav-dropdown-items .nav-link {
  font-size: 1.05em !important;
}

.sidebar .nav .nav-item .nav-link.nav-dropdown-toggle::before,
.sidebar .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before,
.navbar .sidebar .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before { 
    top: 1.8rem !important;
    font-size: 1.2em !important;
}

.navbar-nav .nav-link {
  font-weight: normal;
}

.navbar-toggler {
  font-size: 1em !important;
}

.nav-link .dropdown-toggle .btn .btn-secondary {
  font-size: .9em;
}

.navbar {
  border-radius: 0 !important;
}

.nav {
  .user-info {
    align-items: center;
    display: flex;
    padding: 1.3rem;
    width: 100%;

    .user-name {
      display: inline-block;
      font-size: 1.25em;
      margin-left: 10px;
      width: 123px;
      word-wrap: break-word;
    }

    .ava {
      border: 4px solid $white;
      border-radius: 50%;
      height: 75px;
      width: 75px;
    }
  }
}

.sidebar .nav .nav-item .nav-link {
  font-size: 1.2em;
  width: 100%;

  &:hover {
    background-color: $blue !important;
  }
}

.sidebar .nav .nav-item .nav-link {
  padding: 1.3rem !important;
}

.sidebar .nav .nav-item .nav-link i {
  color: $white !important;
  margin-right: 10px !important;
}

.sidebar .nav .nav-item .nav-link.active i {
  color: $white !important;
}

.btn-header-todo-list {
  background-color: $blue;
  border-radius: 0 !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  color: $white;
  cursor: pointer;
  font-size: 1.2em !important;
  position: relative;
  text-align: left !important;
  width: 100%;

  &:focus {
    box-shadow: none !important;
    outline: none;
  }

  &:after {
    content: "\f078";
    font-family: FontAwesome;
    font-size: .8em;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.btn-header-todo-list.collapsed {
  &:after {
    content: "\f054";
    font-family: FontAwesome;
  }
}

.todo-list-lawyer {
  margin-bottom: 20px;
}

.my-work-with {
  padding-bottom: 10px;

  h2 {
    align-items: center;
    display: flex;
    font-size: 1.2em;
    margin-bottom: 10px;

    .user-name {
      display: inline-block;
      font-weight: bold;
      margin-left: 10px;
      max-width: 40%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }



  .add-todo-list-form {
    margin-top: 15px;

    input {
      border: 1px solid $gray-lighter;
      border-radius: 5px;
      font-size: 1.1em;
      height: 35px;
      padding: 15px;
      width: 99%;
    }

    .add-btn {
      background-color: $blue;
      border: 0;
      border-radius: 5px;
      color: $white;
      cursor: pointer;
      font-size: 1.2em;
      margin-top: 10px;
      padding: 6px 35px;

      &:focus {
        background-color: $blue-darker;
        outline: none;
      }
    }
  }
}

#todo-list-ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    padding-right:  30px;
    padding-left: 30px;
    cursor: pointer;
    position: relative;
    background: #f7f7f7;
    font-size: 1.1em;
    transition: 0.2s;
    word-wrap: break-word;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  li:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  li:hover {
    background: #e2e2e2;
    transition: all .3s ease;
  }

  li.Done {
    background: $gray-medium !important;
    color: $black;
  }

  li.Done::before {
    content: '';
    position: absolute;
    border-color: $black;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 15px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  .task-content {
    display: inline-block;
    padding: 15px;
    height: 100%;
    width: 100%;
  }
  .close {
    align-items: center;
    height: 100%;
    display: inline-flex;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 13px 16px;

    &:hover {
      background-color: $blue;
      color: $white;
      transition: all .3s ease;
    }

    &:after {
      width: 0;
    }
  }
}

.search-feature {
  font-size: 1.1em;

  .form-search {
    width: 100%;

    input {
      border: 1px solid $gray-lighter;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: 1.1em;
      height: 42px;
      padding: 15px;
      width: calc(100% - 120px);

      &:focus {
        outline: 0;
      }
    }

    button {
      background-color: $blue;
      border: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: $white;
      cursor: pointer;
      font-size: 1.1em;
      padding: 9px 20px 9px;

      &:focus {
        background-color: $blue-darker;
        outline: 0;
      }
    }
  }

  .search-input {
    input {
      font-size: 1.1em;
      padding: 10px !important;
      width: calc(100% - 1px) !important;

      &:focus {
        outline: 0 !important;
      }
    }
  }
}

.search-tag {
  .search-results {
    height: calc(100vh - 233.5px);
    padding: 15px 0;

    .chats {
      background-color: $gray-more-lighter;
      border-radius: 5px;
      margin-top: 15px;
      overflow-y: scroll;
      padding: 15px;
    }
  }

  .not-found {
    margin-top: 15px;
    text-align: center;

    .content {
      color: $blue;
      font-size: 1.8em;
    }

    .symbol {
      color: $red;
      font-size: 2.5em;
    }
  }

  .results-statistic {
    background-color: $gray-much-lighter;
    border-radius: 5px;
    padding: 15px;
  }

  .direction-btn {
    background-color: transparent;
    border: 0;
    color: $blue;
    cursor: pointer;
    font-size: 1.1em;

    &:focus {
      color: $blue-darker;
      outline: 0;
    }
  }

  .statistic-content {
    display: inline-block;
    font-size: 1.1em;
    margin-left: 10px;
  }
}

.search-user {
  width: 100%;
  .error-result {
    padding-top: 15px;
    text-align: center;
    width: 100%;

    .error-search-name {
      color: $red;
      font-size: 1.8em;
    }

    .error-search-name-symbol {
      color: $blue;
      font-size: 2.3em;
    }
  }

  .search-box {
    .search-input {
      input {
        width: 100%;
        padding: 5px;
        border: 0.5px solid #eee;
        border-radius: 4px;
      }
      input:focus {
        width: 100%;
        padding: 5px;
        border: 0.5px solid #80bdff;
        border-radius: 4px;
        outline: 0;
      }
    }
  }
  .users-result {
    .user-result {
      align-items: center;
      background-color: $gray-more-lighter;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      padding: 15px;
      margin-top: 17px;
      width: 100%;

      .user-ava {
        border-radius: 50%;
        height: 60px;
        width: 60px;
      }

      .user-name {
        display: inline-block;
        font-size: 1.1em;
        margin-left: 15px;
      }
    }
  }
}

.dropdown-toggle {
  .d-md-down-none {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
  }
}

#myUL {
  margin: 0;
  padding: 0;
}

#myUL {
  li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #f2f2f2;
    font-size: 18px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  li:nth-child(odd){
    background: #f7f7f7;
  }

  li:hover {
    background: #e2e2e2;
  }

  li.checked {
    background: #e2e2e2;
    color: $black;
    text-decoration: line-through;
  }

  li.checked::before {
    content: '';
    position: absolute;
    border-color: $black;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 16px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
}

.close {
  padding: 12px 16px;
  position: absolute;
  right: 0;
  top: 0;
}

.close:hover {
  color: $white;
}

#myUL {
  list-style: none;
}

.todo-list-lawyer {
  width: 100%;
  text-align: left !important
}

.todos-list {
  border: 1px solid $gray-less-medium;
  display: inline-block;
  margin-bottom: 10px;
  width: calc(100% - 1px);
}

.toggle-btn {
  background-color: transparent !important;
  border: 0;
  cursor: pointer;
  font-size: 1.2em !important;
  padding: 12px 10px 12px 37px !important;
  position: relative;
  text-align: left !important;
  word-wrap: break-word;
  width: 100%;

  div {
    display: inline-block;
    margin-right: 5px;
  }

  &:after {
    color: $blue;
    content: "\f107";
    font-family: FontAwesome;
    font-size: 1.2em;
    position: absolute;
    left: 12px;
    top: 8px;
  }

  &:focus {
    box-shadow: none !important;
    outline: 0 !important;
  }
}

.toggle-btn.collapsed {
  &:after {
    content: "\f105";
    font-family: FontAwesome;
  }
}

#myInput {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

@-moz-document url-prefix() {
  .my-work-with .add-todo-list-form .add-btn {
    font-size: 1em;
    padding: 6px 35px;
  }

  .app-body {
    .chat-box {
      textarea {
        padding: 15px;
      }
    }
  }

  .breadcrumb-item {
    a {
      font-size: .9em;
    }
  }

  .my-work-with .add-todo-list-form input {
    padding: 5px 8px;
  }

  .my-work-with {
    h2 {
      font-size: 1.1em;
    }
  }

  .tools {
    padding: 0 15px;
  }

  .navbar .navbar-brand {
    font-size: 1.4em;
  }

  .app {
    .navbar {
      padding-bottom: 0 !important;
      padding-top: 0 !important;
    }
  }

  .sidebar .nav .nav-item .nav-link.nav-dropdown-toggle::before {
    right: 1.8rem;
  }

  .sidebar .nav .nav-item .nav-link {
    font-size: 1.1em;
  }
}

.custom-semantic-btn {
  background-color: transparent !important;
  border: 1px solid $gray-medium !important;
  color: $gray-darker !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: .8em !important;
  margin-left: 8px !important;
  width: 160px;
}

#close-chat-btn {
  display: none;
}
