.app-body .chat-section {
  border-left: 1px solid #c2cfd6;
  width: calc((100% - 235px) / 2); }

.app-body .chat-users-list {
  border-right: 1px solid #c2cfd6;
  display: inline-block;
  float: left;
  height: calc(100vh - 55px);
  padding: 10px; }
  .app-body .chat-users-list .chat-user {
    margin-bottom: 10px; }
    .app-body .chat-users-list .chat-user img {
      border-radius: 50%;
      height: 50px;
      width: 50px; }

.chat-box {
  display: inline-block;
  float: left;
  height: calc(100vh - 96px);
  width: calc(100% - 74px); }
  .chat-box .input-section {
    height: 10%;
    width: 100%; }
  .chat-box textarea {
    border: 0;
    font-size: 1.2em;
    height: 100%;
    overflow: hidden;
    padding: 23px 15px 15px;
    resize: none;
    width: 80%; }
    .chat-box textarea:focus {
      outline: 0; }
  .chat-box .chats {
    height: 90%;
    overflow-y: scroll;
    padding: 15px; }

.chat-section {
  background-color: #fff;
  height: calc(100vh - 55px); }
  .chat-section .header {
    border: 1px solid #c2cfd6;
    border-top: 0;
    border-left: 0;
    float: left;
    font-size: 1.1em;
    padding: 10px;
    width: calc(100% - 74px); }
