@import './variables.scss';

.home-page {
  font-family: "Montserrat", sans-serif;
}

.react-loading {
  margin: 65px auto 0;
}

.home-page {

  .header {
    background-image: url('http://www.vasterad.com/themes/workscout/images/banner-home-02.jpg');
    background-position: 50%;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;

    .container-fluid {
      box-shadow: rgba(255, 255, 255, 0.0980392) 0px -1px 0px 0px inset;
    }

    .content {
      background-color: rgba(0, 0, 0, .7);
      height: 100%;
      width: 100%;

      .navbar-default {
        background-color: transparent !important;
        border: 0;
      }
    }
  }

  .navbar-collapse {
    border-top: 0;
    box-shadow: none;

    ul.navbar-left {
      display: inline-block;
    }
  }

  .find {
    height: calc(100vh - 80px);
    padding: calc((100vh - 255.5px) / 2) 85px;
    width: 100%;
  
    .title {
      color: $white;
      font-size: 3.1em;
      margin-bottom: 10px;
      width: 100%;
    }
  
    .slogan {
      color: $white;
      font-size: 1.5em;
      font-weight: 300;
      margin-top: 20px;
    }
  
    .search-box {
      width: 100%;
  
      input {
        border: none;
        border-radius: 5px;
        font-size: 1.3em;
        padding-left: 15px;
        height: 55px;
        margin-right: 30px;
        position: relative;
        width: calc((100% - 216.5px) / 2);
      }
  
      button {
        background-color: $blue;
        border: 0;
        border-radius: 5px;
        color: $white;
        font-size: 1.5em;
        padding: 13px 30px;
  
        &:focus {
          outline: 0;
        }
  
        &:hover {
          background-color: $blue-darker;
          transition: all .4s ease;
        }
      }
    }
  }

  .main-content {
    .search-law {
      background-color: $white;
      padding: 65px 85px;

      .title {
        font-size: 1.6em;
      }

      .explain {
        color: $gray;
        font-size: 1.3em;
        margin-bottom: 20px;
        margin-top: 10px;
      }

      .row {
        border-bottom: 1px solid $border-color;
        border-left: 1px solid $border-color;
        margin-left: 0;
        margin-right: 0;
      }

      .row-btn {
        border: 0;
        margin-top: 30px;
        text-align: center;

        .btn {
          font-size: 1.3em;
          margin: 0 auto;
          padding: 10px 35px;

          &:hover {
            color: $white;
            background-color: $blue-darker;
            transition: all .5s ease;
          }
        }
      }

      .col-md-3 {
        padding: 0;
      }

      .field {
        border-top: 1px solid $border-color;
        border-right: 1px solid $border-color;
        padding: 30px;
        text-align: center;
        height: 100%;

        .fa {
          color: $blue;
          font-size: 2.5em;
          margin-bottom: 10px;
        }

        .title {
          color: $gray-darker;
          font-size: 1.1em;
          text-transform: uppercase;
        }

        &:hover {
          background-color: $gray-lighter;
          transition: all .5s ease;
        }
      }
    }

    .hot-lawyers {
      display: inline-block;
      padding: 0 85px 65px;
      width: 100%;

      .now-focus {
        background-color: $gray-more-lighter;
      }

      .title {
        font-size: 1.5em;
        padding-bottom: 20px;
      }

      .lawyers-list {
        float: left;
        padding: 65px 0 0;
        width: 100%;

        .title {
          border-bottom: 1px solid $orange-lighter;
        }

        .lawyers {
          margin-bottom: 40px;
        }

        .list-all-lawyers {
          background-color: $blue;
          border-radius: 5px;
          color: $white;
          font-size: 1.2em;
          padding: 10px 20px;
          text-decoration: none;
          width: 300px;

          &:hover {
            background-color: $blue-darker;
            transition: all .4s ease;
          }
        }

        .lawyer {
          align-items: center;
          border-bottom: 1px solid $orange-lighter;
          display: flex;
          padding: 25px;
          width:  100%;

          .ava {
            border-radius: 50%;
            height: 85px;
            width: 85px;
          }

          .infor {
            display: inline-block;
            padding-left: 30px;
            width:  calc(100% - 85px);

            .name {
              font-size: 1.3em;
              overflow: hidden;
              text-align: left;
              text-overflow: ellipsis;
              width: 100%;
            }
          }

          &:hover {
            background-color: $gray-more-lighter;
            cursor: pointer;
            transition: all .5s ease;
          }
        }
      }

      .lawyer-overview {
        float: left;
        padding: 65px 0 0;
        width: 100%;

        .content {
          border: 1px solid $border-color-lighter;
          border-radius: 5px;
          padding: 30px;

          .name {
            font-size: 1.3em;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
          }

          .overview-infor {
            color: $gray;
            font-size: 1.2em;
            margin-bottom: 10px;

            .fa {
              margin-right: 10px;
            }
          }

          .description {
            font-size: 1.2em;
          }

          button {
            background-color: $blue;
            border: 0;
            border-radius: 5px;
            color: $white;
            cursor: pointer;
            font-size: 1.2em;
            margin-top: 10px;
            padding: 15px 30px;
            width: 100%;

            &:hover {
              background-color: $blue-darker;
              transition: all .4s ease;
            }
          }
        }
      }
    }

    .get-started {
      background-color: $blue;
      color: $white;
      display: inline-block;
      font-size: 1.6em;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 25px 40px 30px;
      text-align: center;
      width: 100%;

      .title {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 20px;
      }

      .get-start-btn {
        border: 2px solid $white;
        border-radius: 5px;
        color: $white;
        cursor: pointer;
        display: inline-block;
        font-size: .7em;
        margin-top: 10px;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          background-color: $white;
          color: $blue;
          transition: all .5s ease;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .search-box {
    input {
      margin-bottom: 15px;
      width: 100% !important;
    }
  }
}
