.home-page {
  font-family: "Montserrat", sans-serif; }

.react-loading {
  margin: 65px auto 0; }

.home-page .header {
  background-image: url("http://www.vasterad.com/themes/workscout/images/banner-home-02.jpg");
  background-position: 50%;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh; }
  .home-page .header .container-fluid {
    box-shadow: rgba(255, 255, 255, 0.0980392) 0px -1px 0px 0px inset; }
  .home-page .header .content {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%; }
    .home-page .header .content .navbar-default {
      background-color: transparent !important;
      border: 0; }

.home-page .navbar-collapse {
  border-top: 0;
  box-shadow: none; }
  .home-page .navbar-collapse ul.navbar-left {
    display: inline-block; }

.home-page .find {
  height: calc(100vh - 80px);
  padding: calc((100vh - 255.5px) / 2) 85px;
  width: 100%; }
  .home-page .find .title {
    color: #fff;
    font-size: 3.1em;
    margin-bottom: 10px;
    width: 100%; }
  .home-page .find .slogan {
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 20px; }
  .home-page .find .search-box {
    width: 100%; }
    .home-page .find .search-box input {
      border: none;
      border-radius: 5px;
      font-size: 1.3em;
      padding-left: 15px;
      height: 55px;
      margin-right: 30px;
      position: relative;
      width: calc((100% - 216.5px) / 2); }
    .home-page .find .search-box button {
      background-color: #2385f2;
      border: 0;
      border-radius: 5px;
      color: #fff;
      font-size: 1.5em;
      padding: 13px 30px; }
      .home-page .find .search-box button:focus {
        outline: 0; }
      .home-page .find .search-box button:hover {
        background-color: #0974b8;
        transition: all .4s ease; }

.home-page .main-content .search-law {
  padding: 65px 85px; }
  .home-page .main-content .search-law .title {
    font-size: 1.6em; }
  .home-page .main-content .search-law .explain {
    color: #a2a2a2;
    font-size: 1.3em;
    margin-bottom: 20px;
    margin-top: 10px; }
  .home-page .main-content .search-law .row {
    border-bottom: 1px solid #c2cfd6;
    border-left: 1px solid #c2cfd6;
    margin-left: 0;
    margin-right: 0; }
  .home-page .main-content .search-law .row-btn {
    border: 0;
    margin-top: 30px;
    text-align: center; }
    .home-page .main-content .search-law .row-btn .btn {
      font-size: 1.3em;
      margin: 0 auto;
      padding: 10px 35px; }
      .home-page .main-content .search-law .row-btn .btn:hover {
        color: #fff;
        background-color: #0974b8;
        transition: all .5s ease; }
  .home-page .main-content .search-law .col-md-3 {
    padding: 0; }
  .home-page .main-content .search-law .field {
    border-top: 1px solid #c2cfd6;
    border-right: 1px solid #c2cfd6;
    padding: 30px;
    text-align: center; }
    .home-page .main-content .search-law .field .fa {
      color: #2385f2;
      font-size: 2.5em;
      margin-bottom: 10px; }
    .home-page .main-content .search-law .field .title {
      color: #808080;
      font-size: 1.1em;
      text-transform: uppercase; }
    .home-page .main-content .search-law .field:hover {
      background-color: #e5ecf0;
      transition: all .5s ease; }

.home-page .main-content .hot-lawyers {
  display: inline-block;
  padding: 0 85px 65px;
  width: 100%; }
  .home-page .main-content .hot-lawyers .title {
    font-size: 1.5em;
    padding-bottom: 20px; }
  .home-page .main-content .hot-lawyers .lawyers-list {
    float: left;
    padding: 65px 0 0;
    width: 100%; }
    .home-page .main-content .hot-lawyers .lawyers-list .title {
      border-bottom: 1px solid #ffe1c1; }
    .home-page .main-content .hot-lawyers .lawyers-list .lawyers {
      margin-bottom: 40px; }
    .home-page .main-content .hot-lawyers .lawyers-list .list-all-lawyers {
      background-color: #2385f2;
      border-radius: 5px;
      color: #fff;
      font-size: 1.2em;
      padding: 10px 20px;
      text-decoration: none;
      width: 300px; }
      .home-page .main-content .hot-lawyers .lawyers-list .list-all-lawyers:hover {
        background-color: #0974b8;
        transition: all .4s ease; }
    .home-page .main-content .hot-lawyers .lawyers-list .lawyer {
      align-items: center;
      border-bottom: 1px solid #ffe1c1;
      display: flex;
      padding: 25px;
      width: 100%; }
      .home-page .main-content .hot-lawyers .lawyers-list .lawyer .ava {
        border-radius: 50%;
        height: 85px;
        width: 85px; }
      .home-page .main-content .hot-lawyers .lawyers-list .lawyer .infor {
        display: inline-block;
        padding-left: 30px;
        width: calc(100% - 85px); }
        .home-page .main-content .hot-lawyers .lawyers-list .lawyer .infor .name {
          font-size: 1.3em;
          overflow: hidden;
          text-align: left;
          text-overflow: ellipsis;
          width: 100%; }
      .home-page .main-content .hot-lawyers .lawyers-list .lawyer:hover {
        background-color: #f6f6f6;
        cursor: pointer;
        transition: all .5s ease; }
  .home-page .main-content .hot-lawyers .lawyer-overview {
    float: left;
    padding: 65px 0 0;
    width: 100%; }
    .home-page .main-content .hot-lawyers .lawyer-overview .content {
      border: 1px solid #e9eaeb;
      border-radius: 5px;
      padding: 30px; }
      .home-page .main-content .hot-lawyers .lawyer-overview .content .name {
        font-size: 1.3em;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%; }
      .home-page .main-content .hot-lawyers .lawyer-overview .content .overview-infor {
        color: #a2a2a2;
        font-size: 1.2em;
        margin-bottom: 10px; }
        .home-page .main-content .hot-lawyers .lawyer-overview .content .overview-infor .fa {
          margin-right: 10px; }
      .home-page .main-content .hot-lawyers .lawyer-overview .content .description {
        font-size: 1.2em; }
      .home-page .main-content .hot-lawyers .lawyer-overview .content button {
        background-color: #2385f2;
        border: 0;
        border-radius: 5px;
        color: #fff;
        font-size: 1.2em;
        margin-top: 10px;
        padding: 15px 30px;
        width: 100%; }
        .home-page .main-content .hot-lawyers .lawyer-overview .content button:hover {
          background-color: #0974b8;
          transition: all .4s ease; }

.home-page .main-content .get-started {
  background-color: #2385f2;
  color: #fff;
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 25px 40px 30px;
  text-align: center;
  width: 100%; }
  .home-page .main-content .get-started .title {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px; }
  .home-page .main-content .get-started .get-start-btn {
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: .7em;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase; }
    .home-page .main-content .get-started .get-start-btn:hover {
      background-color: #fff;
      color: #2385f2;
      transition: all .5s ease; }

@media (max-width: 750px) {
  .search-box input {
    margin-bottom: 15px;
    width: 100% !important; } }
