.container-wrapper {
  padding: 60px 160px; }

.lawyer-profile {
  background-color: #f6f6f6; }
  .lawyer-profile .btn-blue {
    border-radius: 5px;
    border: 1px solid #2385f2 !important;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 3px;
    padding: 7px 12px; }
    .lawyer-profile .btn-blue:hover {
      background-color: #fff;
      color: #2385f2;
      transition: all .5s ease; }
  .lawyer-profile .profile-header {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #e5ecf0;
    padding: 40px; }
    .lawyer-profile .profile-header .avatar {
      display: inline-block;
      float: left;
      width: 150px; }
      .lawyer-profile .profile-header .avatar img {
        border-radius: 50%;
        height: 150px;
        width: 150px; }
    .lawyer-profile .profile-header .basic-infor {
      float: left;
      padding-left: 35px;
      width: calc(100% - 150px); }
      .lawyer-profile .profile-header .basic-infor .right-block {
        float: right;
        font-size: 1.3em;
        text-align: right;
        width: 30%; }
        .lawyer-profile .profile-header .basic-infor .right-block .cost {
          margin-top: 6px; }
      .lawyer-profile .profile-header .basic-infor .left-block {
        float: left;
        width: 70%; }
        .lawyer-profile .profile-header .basic-infor .left-block p {
          margin-bottom: 9px; }
        .lawyer-profile .profile-header .basic-infor .left-block .name {
          font-size: 1.8em;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%; }
        .lawyer-profile .profile-header .basic-infor .left-block .expert {
          color: #a2a2a2;
          font-size: 1.2em; }
    .lawyer-profile .profile-header .another-infor {
      font-size: 1.2em; }
      .lawyer-profile .profile-header .another-infor .left-block {
        float: left;
        width: 45%; }
        .lawyer-profile .profile-header .another-infor .left-block b {
          display: inline-block;
          margin-bottom: 14px;
          width: 100%; }
      .lawyer-profile .profile-header .another-infor .right-block {
        float: right;
        text-align: left;
        width: 55%; }
  .lawyer-profile .space-wrapper {
    margin-top: 35px; }
  .lawyer-profile .content-block {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #e5ecf0;
    padding: 20px 25px; }
    .lawyer-profile .content-block .title {
      font-size: 1.5em;
      font-weight: 600;
      padding-bottom: 12px; }
    .lawyer-profile .content-block .content {
      font-size: 1.2em; }
  .lawyer-profile .center-block .content {
    padding-bottom: 5px; }
  .lawyer-profile .center-block hr {
    margin: 25px 0; }
  .lawyer-profile .right-block {
    text-align: center; }
    .lawyer-profile .right-block .fa-headphones {
      color: #2385f2;
      font-size: 6.6em; }
    .lawyer-profile .right-block .title {
      font-size: 1.5em;
      padding-bottom: 5px; }
    .lawyer-profile .right-block .sub-title {
      font-size: 1.2em;
      color: #a2a2a2;
      padding-bottom: 10px; }
