@import "variables.scss";

.container-lawyer-wrapper {
  padding: 60px 110px;
}

.lawyer-profile {
  background-color: $gray-more-lighter;

  .btn-blue {
    border-radius: 5px;
    border: 1px solid $blue !important;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 3px;
    padding: 7px 12px;

    &:hover {
      background-color: $white;
      color: $blue;
      transition: all .5s ease;
    }
  }

  .profile-header {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px $gray-lighter;
    padding: 40px;

    .avatar {
      display: inline-block;
      float: left;
      width: 150px;

      img {
        border-radius: 50%;
        height: 150px;
        width: 150px;
      }
    }

    .basic-infor {
      float: left;
      padding-left: 35px;
      width: calc(100% - 150px);

      .right-block {
        float: right;
        font-size: 1.3em;
        text-align: right;
        width: 30%;

        .cost {
          margin-top: 6px;
        }
      }

      .left-block {
        float: left;
        width: 70%;

        p {
          margin-bottom: 9px;
        }

        .name {
          font-size: 1.8em;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }

        .expert {
          color: $gray;
          font-size: 1.2em;
        }
      }
    }

    .another-infor {
      display: inline-block;
      font-size: 1.2em;
      width: 100%;

      .block {
        align-items: center;
        display: flex;
      }

      b {
        display: inline-block;
        margin-bottom: 12px;
        width: 50%;
      }

      p {
        display: inline-block;
        margin-bottom: 12px;
        width: 50%;
        word-wrap: break-word;
      }
    }
  }

  .space-wrapper {
    margin-top: 35px;
  }

  .content-block {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px $gray-lighter;
    padding: 15px 25px;

    .title {
      font-size: 1.5em;
      font-weight: 600;
      padding-bottom: 5px;
    }

    .content {
      font-size: 1.2em;
    }

    .no-review {
      margin-top: -6px;
      padding: 0 25px 15px;
    }
  }

  button.content-block {
    background-color: $gray-more-lighter !important;
    border: solid 1px $gray-medium-darker;
    box-shadow: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    margin-top: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: $gray-more-lighter;
    }
  }

  .review-block {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    .content {
      padding-bottom: 0 !important;
    }

    .title {
      padding-bottom: 15px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .customer-review {
      align-items: center;
      display: flex;
      padding: 15px 25px;

      .review-content {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 15px;
        width: calc(100% - 155px);
        word-wrap: break-word;
      }

      .user-ava {
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }

      .rate {
        display: inline-block;
        float: right;
      }
    }

    .review-grey {
      background-color: $gray-less-medium;
    }
  }

  .center-block {
    .content {
      padding-bottom: 5px;

      div > span > span {
        word-wrap: break-word;
      }
    }

    hr {
      margin: 15px 0;
    }
  }

  .right-block {
    text-align: center;

    .fa-headphones {
      color: $blue;
      font-size: 6.6em;
    }

    .title {
      font-size: 1.5em;
      padding-bottom: 5px;
    }

    .sub-title {
      font-size: 1.2em;
      color: $gray;
      padding-bottom: 10px;
      width: 100%;
      word-wrap: break-word;
    }
  }
}

@media (max-width: 1150px) {
  .container-lawyer-wrapper {
    padding: 30px 30px;

    .avatar {
      margin-bottom: 15px;
      text-align: center;
      width: 100% !important;
    }

    .basic-infor {
      padding-left: 0 !important;
      width: 100% !important;

      .left-block {
        p {
          margin-bottom: 15px !important;
        }
      }
    }

    .another-infor {
      margin-top: 25px;
    }

    .content-block {
      margin-bottom: 20px;
    }
  }
}

.modals {
  font-family: "Montserrat", sans-serif;

  .header {
    font-family: "Montserrat", sans-serif !important;
  }

  .ui.header {
    color: $gray;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    margin-bottom: 27px;
    margin-top: 12px;

    .number {
      display: inline-block;
      font-size: 2.3em;
    }

    .char {
      display: inline-block;
      font-size: 1.2em;
      margin-left: 5px;
    }
  }

  .customer-review {
    align-items: center;
    background-color: $gray-much-lighter;
    border-bottom: 1px solid $gray-lighter;
    display: flex;
    font-size: 1.2em;
    padding: 15px 25px;

    .review-content {
      display: inline-block;
      margin-bottom: 0;
      margin-left: 15px;
      padding-right: 10px;
      width: calc(100% - 175px);
      word-wrap: break-word;
    }

    .user-ava {
      border-radius: 50%;
      height: 60px;
      width: 60px;
    }

    .rate {
      display: inline-block;
      float: right;
    }
  }
}

.load-more-sec {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.modal-btn {
  background-color: $blue;
  border: 0;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  font-size: 1.2em;
  padding: 8px 15px;
  margin: 20px 0 0;

  &:hover {
    background-color: $blue-more-darker;
    transition: all .3s ease;
  }

  &:focus {
    background-color: $blue-darker;
    transition: all .3s ease;
  }
}

@-moz-document url-prefix() {
  .ui .modal {
    height: 530px !important;
  }
}
