@import "variables.scss";
@import "../bootstrap/bootstrap.scss";

textarea::-webkit-input-placeholder {
  color: $gray;
}

textarea::-moz-placeholder {
  color: $gray;
}

textarea:-ms-input-placeholder {
  color: $gray;
}

textarea:-moz-placeholder {
  color: $gray;
}

@font-face {
  font-family: "DroidSerif";
  src: font-url("fonts/Droid_Serif/DroidSerif-Regular.ttf");
}

body {
  background-color: $white;
  font-family: "DroidSerif", sans-serif;
}

.ui.dropdown .menu{
  font-size: 1.5em;
}

.navbar {
  background-color: $blue;
  font-size: 1.4em;
  padding-bottom: 15px !important;
  padding-top: 15px !important;

  a {
    color: $white;
    font-weight: bold;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}
