@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
textarea::-webkit-input-placeholder {
  color: #a2a2a2; }

textarea::-moz-placeholder {
  color: #a2a2a2; }

textarea:-ms-input-placeholder {
  color: #a2a2a2; }

textarea:-moz-placeholder {
  color: #a2a2a2; }

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.7) !important;
  width: 6px !important;
  border-radius: 1px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(103, 103, 103, 0.5);
  border-radius: 2px; }

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif !important;
  position: relative; }

.logo-app {
  background-color: #43a3df;
  height: 100vh;
  width: 100%; }
  .logo-app .logo-section {
    text-align: center;
    width: 100%;
    height: 50%;
    position: relative; }
  .logo-app .loading-section {
    width: 100%;
    height: 50%;
    display: inline-block; }
    .logo-app .loading-section div {
      margin: 0 auto; }
  .logo-app img {
    width: 250px;
    height: 250px;
    bottom: 0px;
    position: absolute;
    margin-left: -125px;
    margin-block-end: -70px; }

.notification-container {
  top: 60px; }
