@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

textarea::-webkit-input-placeholder {
  color: $gray;
}

textarea::-moz-placeholder {
  color: $gray;
}

textarea:-ms-input-placeholder {
  color: $gray;
}

textarea:-moz-placeholder {
  color: $gray;
}

::-webkit-scrollbar{
	background-color: rgba(255, 255, 255, 0.5) !important;
	width: 0px !important;
	border-radius: 1px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(138, 138, 138, .3);
	border-radius: 1px;
}

body {
  background-color: $white;
  font-family: "Montserrat", sans-serif !important;
  position: relative;
}

.ui.dropdown .menu{
  font-size: 1.5em;
}

.navbar {
  background-color: $blue;
  font-size: 1.4em;
  padding-bottom: 15px !important;
  padding-top: 10px !important;

  a {
    color: $white;
    font-weight: bold;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

.StripeElement {
  width: 300px !important;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.form-payment {
  display: inline-block;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.Checkout {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0 5px;
}

.payment-bt {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px;
}

.payment-bt:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.PaymentRequestButton {
  padding: 0;
}

.description {
  display: inline-block
}

.input-descrip{
  width: 100%
}

.info-descrip{
  display: block
}

.edit-descrip{
  display: none;
}

.description {
  width: 100%;
}

.home-header {
  text-align: center;

  .content {
    height: 350px;
    padding: 80px;
    width: 100%;

    .b-t-87 {
      width: 100%;
    }
  }

  strong {
    font-size: 3.8em;
  }
}

#home-subheader {
  color: $gray-darker;
  font-size: 1.6em;
}
//search user
.img-user-search{
  display: none
}
.search-img{
  width: 120px;
  padding: 10px
}

// // todo list

// /* Include the padding and border in an element's total width and height */
// * {
//   box-sizing: border-box;
// }

// /* Remove margins and padding from the list */
#myUL {
  margin: 0;
  padding: 0;
}

// /* Style the list items */
#myUL {
  li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  li:nth-child(odd){
    background: #f9f9f9;
  }
  li:hover {
    background: #ddd;
  }
  li.checked {
      background: #888;
      color: #fff;
      text-decoration: line-through;
  }
  li.checked::before {
      content: '';
      position: absolute;
      border-color: #fff;
      border-style: solid;
      border-width: 0 2px 2px 0;
      top: 10px;
      left: 16px;
      transform: rotate(45deg);
      height: 15px;
      width: 7px;
  }
}
// /* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

#myUL {
  list-style: none
}

.todo-list-lawyer {
  width: 100%;
  text-align: left !important
}

// /* Style the header */
// .header {
//   background-color: #f44336;
//   padding: 30px 40px;
//   color: white;
//   text-align: center;
// }

// /* Clear floats after the header */
// .header:after {
//   content: "";
//   display: table;
//   clear: both;
// }

// /* Style the input */
#myInput {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.add-btn-todolist {
  padding: 10px;
  width: 25%;
  background:$blue;
  color: $white;
  border: none;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 20px !important;

  &:hover {
    background-color: #bbb;
    transition: all .5s ease;
  }
}

.add-btn-todolist:hover {
  background-color: #bbb;
}
.div-todo-list{
  display: inline-block;
  width: 100%;
  padding-bottom: 15px;
  input {
    float: left;
  }
  button {
    float: left;
  }
}

.logo-app {
  background-color: #43A3DF;
  height: 100vh;
  width: 100%;

  .logo-section {
    text-align: center;   
    width: 100%;
    height: 50%;
    position: relative;    
  }

  .loading-section {
    width: 100%;
    height: 50%;
    display: inline-block;
    div {
      margin: 0 auto;
    }
  }

  img {
    width: 250px;
    height: 250px;
    bottom: 0px;
    position: absolute;
    margin-left: -125px;
    margin-block-end: -70px;        
  }
}
