@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
textarea::-webkit-input-placeholder {
  color: #a2a2a2; }

textarea::-moz-placeholder {
  color: #a2a2a2; }

textarea:-ms-input-placeholder {
  color: #a2a2a2; }

textarea:-moz-placeholder {
  color: #a2a2a2; }

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.5) !important;
  width: 0px !important;
  border-radius: 1px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(138, 138, 138, 0.3);
  border-radius: 1px; }

@font-face {
  font-family: "DroidSerif";
  src: font-url("fonts/Droid_Serif/DroidSerif-Regular.ttf"); }

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif !important;
  position: relative; }

.ui.dropdown .menu {
  font-size: 1.5em; }

.navbar {
  background-color: #2385f2;
  font-size: 1.4em;
  padding-bottom: 15px !important;
  padding-top: 15px !important; }
  .navbar a {
    color: #fff;
    font-weight: bold; }
    .navbar a:hover {
      color: #fff;
      text-decoration: none; }

.StripeElement {
  width: 300px !important;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease; }

.form-payment {
  display: inline-block; }

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df; }

.StripeElement--invalid {
  border-color: #fa755a; }

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important; }

.Checkout {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0 5px; }

.payment-bt {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px; }

.payment-bt:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); }

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white; }

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease; }

.StripeElement.PaymentRequestButton {
  padding: 0; }

.description {
  display: inline-block; }

.input-descrip {
  width: 100%; }

.info-descrip {
  display: block; }

.edit-descrip {
  display: none; }

.description {
  width: 100%; }

.home-header {
  text-align: center; }
  .home-header .content {
    height: 350px;
    padding: 80px;
    width: 100%; }
    .home-header .content .b-t-87 {
      width: 100%; }
  .home-header strong {
    font-size: 3.8em; }

#home-subheader {
  color: #808080;
  font-size: 1.6em; }

.img-user-search {
  display: none; }

#myUL {
  margin: 0;
  padding: 0; }

#myUL li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#myUL li:nth-child(odd) {
  background: #f9f9f9; }

#myUL li:hover {
  background: #ddd; }

#myUL li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through; }

#myUL li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px; }

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px; }

.close:hover {
  background-color: #f44336;
  color: white; }

#myUL {
  list-style: none; }

.todo-list-lawyer {
  width: 100%;
  text-align: left !important; }
