@import './variables.scss';

.header-nav {
	border-radius: 0px !important;
}

.btn-blue {
	background-color: $blue;
	border: 0 !important;
	color: $white;
}

.navbar-default {
	background-color: #fff !important;
	background-image: none !important;
	border-radius: 0px !important;
	display: block !important;
	font-weight: 200;
	height: 70px;
	margin: 0px;
}

.navbar-default .navbar-nav>li input {
	width: 10px;
	transition: width 1s;
	border-radius: 15px 0px 0px 15px;
}

.navbar-default .navbar-nav > li button {
	float: right;
	height: 34px;
}

.navbar-default .navbar-nav > li .remove-btn {
	border-radius: 0px 15px 15px 0px
}

.navbar-default .navbar-nav > li {
	align-items: center;
	display: flex;
	margin-right: 40px;
}

.navbar-default .navbar-nav > li .input-group {
	display: none;
	padding-top: 10px;
	padding-right: 40px;
}

.navbar-default .navbar-nav > li .input-group-btn {
	display: flex;
}

.headerNavListItem a {
	border-radius: 5px;
	cursor: pointer;
	font-size: .7em !important;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.dropdown-menu a{
	display: inline-block;
	font-weight: normal;
	padding: 10px 15px;
	width: 100%;
}

.navbar {
	padding-bottom: 10px !important;
	padding-top: 10px !important;
}

.navbar a {
	cursor: pointer;
	font-size: 1.5em;
	padding: 15px 20px;
}

.navbar-header {
	padding-left: 30px;
}

.headerNavListItem a:hover {
	background-color: $blue !important;
	color: $white !important;
	transition: all .5s ease;
}

.dropdown .btn {
	background-color: rgba(255, 255, 255, 0.0980392);
	font-size: .8em;
	margin-top: 3px;
	outline: 0 !important;
	padding: 10px !important;

	&:focus {
		box-shadow: none;
	}
}

.navbar-nav .dropdown-menu {
	background-color: rgba(255, 255, 255, 0.0980392);
	border-radius: 5px;
	padding: 0 !important;
	position: absolute !important;
	top: 50px;
	left: 12px;
	width: 120px;
}

.navbar-nav .dropdown-menu  a {
	font-size: 1.2em !important;
}

.navbar-brand {
	padding: 0 !important;
}

.dropdown-menu > li > a:hover {
	background-color: $blue;
	background-image: none !important;
	transition: all .5s ease;
}

.nav-inverse {
	border-bottom: 1px solid $border-color;
	padding: 0 !important;

	.headerNavListItem a {
		color: $black !important;

		&:hover {
			background-color: $blue !important;
			color: $white !important;
		}
	}
	
	.dropdown .btn {
		background-color: rgba(0, 0, 0, .15);
		color: $black !important;
	}
	
	.navbar-nav .dropdown-menu  a {
		background-color: rgba(0, 0, 0, .15);
		color: $black !important;
	}
	
	.navbar-toggler {
		.fa {
			color: $blue;
		}
	}

	.navbar-brand {
		color: $blue;
	}

	a.navbar-brand:hover {
		color: $blue;
	}
}

.nav-light {
	.headerNavListItem a {
		color: $white !important;
	}
	
	.dropdown .btn {
		color: $white !important;
	}
	
	.navbar-nav .dropdown-menu  a {
		color: $white !important;
	}
	
	.navbar-toggler {
		.fa {
			color: $white;
		}
	}
}
