.header-nav {
  border-radius: 0px !important; }

.btn-blue {
  background-color: #2385f2;
  border: 0 !important;
  color: #fff; }

.navbar-default {
  background-color: #fff !important;
  background-image: none !important;
  border-radius: 0px !important;
  display: block !important;
  font-weight: 200;
  height: 70px;
  margin: 0px; }

.navbar-default .navbar-nav > li input {
  width: 10px;
  transition: width 2s;
  border-radius: 15px 0px 0px 15px; }

.navbar-default .navbar-nav > li button {
  float: right;
  height: 34px; }

.navbar-default .navbar-nav > li .remove-btn {
  border-radius: 0px 15px 15px 0px; }

.navbar-default .navbar-nav > li {
  align-items: center;
  display: flex;
  margin-right: 40px; }

.navbar-default .navbar-nav > li .input-group {
  display: none;
  padding-right: 40px; }

.navbar-default .navbar-nav > li .input-group-btn {
  display: flex; }

.headerNavListItem a {
  border-radius: 5px;
  cursor: pointer;
  font-size: .7em !important;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px; }

.dropdown-menu a {
  display: inline-block;
  font-weight: normal;
  padding: 10px 15px;
  width: 100%; }

.navbar {
  padding-bottom: 10px !important;
  padding-top: 10px !important; }

.navbar a {
  cursor: pointer;
  font-size: 1.5em;
  padding: 15px 20px; }

.navbar-header {
  padding-left: 30px; }

.headerNavListItem a:hover {
  background-color: #2385f2 !important;
  color: #fff !important;
  transition: all .5s ease; }

.dropdown .btn {
  background-color: rgba(255, 255, 255, 0.0980392);
  font-size: .8em;
  margin-top: 3px;
  outline: 0 !important;
  padding: 10px !important; }
  .dropdown .btn:focus {
    box-shadow: none; }

.navbar-nav .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.0980392);
  border-radius: 5px;
  padding: 0 !important;
  position: absolute !important;
  top: 50px;
  left: -20px;
  width: 120px; }

.navbar-nav .dropdown-menu a {
  font-size: 1.2em !important; }

.navbar-brand {
  padding: 0 !important; }

.dropdown-menu > li > a:hover {
  background-color: #2385f2;
  background-image: none !important;
  transition: all .5s ease; }

.nav-hidden {
  display: none;
  height: 0;
  transition: height 0.6s; }

.nav-inverse {
  border-bottom: 1px solid #c2cfd6;
  background-color: white; }
  .nav-inverse .navbar-nav .dropdown-menu {
    background-color: #f6f6f6; }
    .nav-inverse .navbar-nav .dropdown-menu a {
      font-weight: normal;
      color: #000; }
      .nav-inverse .navbar-nav .dropdown-menu a:hover {
        color: #fff; }
  .nav-inverse .headerNavListItem a {
    color: #000 !important; }
    .nav-inverse .headerNavListItem a:hover {
      background-color: #2385f2 !important;
      color: #fff !important; }
  .nav-inverse .dropdown .btn {
    background-color: #f6f6f6;
    color: #000 !important; }
  .nav-inverse .navbar-toggler .fa {
    color: #2385f2; }
  .nav-inverse .navbar-brand {
    color: #2385f2; }
  .nav-inverse a.navbar-brand:hover {
    color: #2385f2; }

.nav-light .headerNavListItem a {
  color: #fff !important; }

.nav-light .dropdown .btn {
  color: #fff !important; }

.nav-light .navbar-nav .dropdown-menu a {
  color: #fff !important; }

.nav-light .navbar-toggler .fa {
  color: #fff; }
