@import 'variables.scss';

.my-profile {
    .editer-inline {
        .form-group {
            padding-left: 5px;
            display: inline-block;
            input {
                border: none;
                border-bottom: 1px solid $blue-lighter !important;
                border-radius: 0;
            }
        }
        button {
            display: inline-block;
            background: none;
            border: none;
            i {
                color: $blue-lighter;
            }
        }
    }
}