.my-profile .editer-inline .form-group {
  padding-left: 5px;
  display: inline-block; }
  .my-profile .editer-inline .form-group input {
    border: none;
    border-bottom: 1px solid #6298f7 !important;
    border-radius: 0; }

.my-profile .editer-inline button {
  display: inline-block;
  background: none;
  border: none; }
  .my-profile .editer-inline button i {
    color: #6298f7; }
