.my-profile .row {
  overflow: hidden; }

@media (max-width: 768px) {
  .my-profile [class*="col-"] {
    width: 100% !important;
    display: block !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important; } }

.my-profile .left-bar-prof {
  background: #565656;
  color: #ecf0ef;
  text-align: center;
  left: 0;
  padding: 50px 20px 50px 30px;
  height: 100%;
  margin-bottom: -5000px;
  padding-bottom: 5000px; }
  .my-profile .left-bar-prof .editer-inline {
    min-height: 60px;
    padding: 0 10px 0 10px; }
    .my-profile .left-bar-prof .editer-inline .form-group {
      margin-bottom: 2px;
      display: inline-block; }
      .my-profile .left-bar-prof .editer-inline .form-group input {
        text-align: center;
        border: none;
        border-radius: 0; }
    .my-profile .left-bar-prof .editer-inline .noti-cancel {
      font-size: 12px;
      text-align: left;
      display: block;
      margin-left: 40px; }
      .my-profile .left-bar-prof .editer-inline .noti-cancel a {
        text-decoration: none;
        color: #00bcff; }
    .my-profile .left-bar-prof .editer-inline button {
      display: inline-block;
      background: none;
      border: none; }
      .my-profile .left-bar-prof .editer-inline button i {
        color: #ecf0ef; }
    .my-profile .left-bar-prof .editer-inline .fa-pencil-square-o {
      margin-top: 10px;
      color: #ecf0ef;
      float: right;
      position: absolute;
      right: 1px; }
    .my-profile .left-bar-prof .editer-inline .editer-name {
      font-size: 30px;
      height: 100%; }
  .my-profile .left-bar-prof img {
    width: 60%;
    margin-bottom: 30px; }
  .my-profile .left-bar-prof ul {
    padding: 0px;
    list-style: none; }
    .my-profile .left-bar-prof ul li:first-child {
      min-height: 60px;
      margin-bottom: 30px; }
    .my-profile .left-bar-prof ul li:not(:first-child) {
      margin-bottom: 30px; }
      .my-profile .left-bar-prof ul li:not(:first-child) .fa {
        margin-right: 10px; }

.my-profile .lawyer-prof-detail {
  padding: 20px 10px 20px 10px; }
  .my-profile .lawyer-prof-detail ul {
    list-style: none; }
  .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail {
    border: 0.7px solid #bce8f1;
    border-radius: 7px;
    margin-bottom: 20px; }
    .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .prof-panel-heading {
      display: inline-block;
      background: #d9edf7;
      width: 100%;
      color: #31708f;
      padding: 10px; }
      .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .prof-panel-heading a {
        text-decoration: none; }
        .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .prof-panel-heading a .fa-chevron-right {
          transition: transform .3s ease-in;
          transform: rotate(90deg); }
      .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .prof-panel-heading a.collapsed .fa-chevron-right {
        transition: transform .3s ease-in;
        transform: rotate(0deg); }
      .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .prof-panel-heading h4 {
        display: inline-block; }
      .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .prof-panel-heading .fa-chevron-right {
        margin-right: 15px;
        font-size: 20px;
        float: right;
        vertical-align: middle; }
    .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .panel-collapse {
      padding: 10px 20px 10px 20px; }
      .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .panel-collapse li {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px; }
        .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .panel-collapse li span {
          float: left; }
    .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-inline form {
      text-align: center;
      width: 100%;
      display: inline-block; }
      .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-inline form .form-group {
        display: inline-block;
        margin-bottom: 2px;
        margin-right: 10px;
        margin-left: 5px; }
      .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-inline form button {
        background: none;
        border: none; }
        .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-inline form button .fa {
          color: #6298f7;
          font-size: 20px; }
      .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-inline form .noti-cancel {
        font-size: 13px; }
    .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-inline .fa-pencil-square-o {
      font-size: 15px;
      margin-left: 20px;
      color: #6298f7; }
      .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-inline .fa-pencil-square-o:hover {
        font-size: 20px;
        cursor: pointer; }
    .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-panel .collapse-content {
      display: inline;
      white-space: pre-line; }
    .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-panel form {
      position: relative; }
      .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-panel form .form-group {
        margin-right: 50px; }
      .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-panel form .action-grp {
        position: absolute;
        right: -10px;
        top: 0; }
        .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-panel form .action-grp button {
          background: none;
          border: none; }
          .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-panel form .action-grp button .fa {
            color: #6298f7;
            font-size: 15px; }
            .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-panel form .action-grp button .fa:hover {
              font-size: 20px;
              cursor: pointer; }
    .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-panel .fa-pencil-square-o {
      margin-left: 20px;
      color: #6298f7;
      font-size: 15px; }
      .my-profile .lawyer-prof-detail .lawyer-prof-content .item-detail .editer-panel .fa-pencil-square-o:hover {
        font-size: 20px;
        cursor: pointer; }
