@import './variables.scss';

.search-law {
  background-color: $gray-less-medium;

  .search-law-inner {
    min-height: calc(100vh - 68px);
  }
}

.side-section {
  background-color: $white;
  border-right: 1px solid $gray-more-lighter;
  display: inline-block;
  margin-bottom: 45px;
  margin-top: 45px;
  padding: 15px 20px;
  width: 100%;
}

.category-filter {
  display: inline-block;
  font-size: 1.2em;
  width: 100%;

  .title {
    background-color: $white;
    border: 0;
    border-top: 1px solid $gray-more-lighter;
    color: $black;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 0 0;
    position: relative;
    text-align: left;
    width: 100%;

    &:focus {
      outline: 0;
    }

    &:after {
      content: "\f106";
      font-family: FontAwesome;
      font-size: 1.2em;
      position: absolute;
      left: 170px;
      top: 12px;
    }

    .fa {
      margin-right: 10px;
    }
  }

  .title.collapsed {
    color: $gray-darker;
    &:after {
      content: "\f107";
      font-family: FontAwesome;
    }
  }

  .category-filter-title {
    background-color: $white;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 35px;
    position: relative;
    text-align: left;
    width: 100%;

    &:focus {
      outline: 0;
    }

    &:after {
      content: "\f078";
      font-family: FontAwesome;
      font-size: .8em;
      position: absolute;
      right: 10px;
      top: 15px;
    }
  }

  .category-filter-title.collapsed {
    font-weight: normal;
    &:after {
      content: "\f054";
      font-family: FontAwesome;
    }
  }

  .category-filter-content {
    font-size: .9em;

    .category-item {
      border-bottom: 1px solid $gray-more-lighter;
      cursor: pointer;
      padding: 10px 45px;

      &:last-child {
        border-bottom: none;
      }

      a {
        color: $black;
      }

      &:hover {
        background-color: $gray-more-lighter;
        transition: all .5s ease;
        a {
          color: $blue;
          text-decoration: none;
          transition: all .3s ease;
        }
      }
    }
  }
}

.search-law-tool {
  .title {
    background-color: $white;
    border: 0;
    color: $black;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0 15px;
    position: relative;
    text-align: left;
    width: 100%;

    &:after {
      content: "\f106";
      font-family: FontAwesome;
      font-size: 1.2em;
      position: absolute;
      left: 120px;
      top: 0;
    }

    &:focus {
      outline: 0;
    }

    .fa {
      margin-right: 10px;
    }
  }

  .title.collapsed {
    color: $gray-darker;

    &:after {
      content: "\f107";
      font-family: FontAwesome;
    }
  }

  .search-law-tool-body {
    input[type="text"] {
      font-size: 1.2em;
      height: 45px;
      width: 100%;
    }

    .ui.toggle.checkbox input:checked~label:before {
      background-color: $blue-info-darker !important;
    }
    
    #group1 {
      padding: 5px 0;
      font-size: 1.2em;
      margin-top: 10px;
      width: 100%;

      label {
        font-size: 1.2em;
        width: 100%;
      }

      input[type="radio"] {
        margin-right: 10px;
      }
    }

    #group2 {
      font-size: 1.2em;

      label {
        width: 100%;
      }

      .select-section {
        padding: 3px 0 8px;
      }

      select {
        font-size: 1em;
        height: 40px;
        margin-bottom: 10px;
      }
    }

    .submit-btn {
      text-align: center;
      width: 100%;
    }

    button {
      background-color: $blue-info-darker;
      color: $white;
      cursor: pointer;
      font-size: 1.2em;
      margin-bottom: 20px;
      width: 100%;
      padding: 10px 0;

      &:hover {
        background-color: $blue-darker;
      }
    }
  }
}

.results {
  padding-top: 35px;
  width: 100%;

  .pagination {
    cursor: pointer;
    font-size: 1.2em;
    justify-content: center;
    padding-top: 15px;
    width: 100%;

    li a {
      color: $blue;

      &:hover {
        background-color: $blue;
        color: $white;
        border: 1px solid $blue;
        transition: all .5s ease;
      }
    }

    li.active a {
      background-color: $blue;
      color: $white;
      border-color: $blue;
    }
  }

  .law-item {
    background-color: $white;
    border: 1px solid $gray-lighter;
    border-radius: 5px;
    float: left;
    font-size: 1.1em;
    margin: 8px 0;
    width: 100%;

    &:hover {
      background-color: $gray-much-lighter;
    }

    a {
      color: $black;

      &:hover {
        text-decoration: none;
      }
    }

    .law-title {
      font-size: 1.1em;
      font-weight: bold;
      overflow: hidden;
      padding: 10px 15px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;

      a {
        color: $black;
      }
    }

    .law-detail-content {
      padding: 0 15px 10px;
    }

    .law-status {
      font-size: 1.1em;

      .effect-status {
        color: $red;
      }
    }
  }
}

.toastify-content {
  border-radius: 5px;
  font-size: 1.2em;
}

.toastify-content--success {
  background-color: #17a2b8;
}

.not-found-any-results {
  color: $red;
  font-size: 2.1em;
  text-align: center;

  .symbol-not-found {
    color: $blue;
    font-size: 2.3em;
  }
}

@-moz-document url-prefix() {
  .search-law {
    .search-law-inner {
      min-height: calc(100vh - 66.5px);
    }
  }
}

@media(max-width: 750px) {
  .results {
    padding-top: 0;
    margin-bottom: 45px;
  }

  .side-section {
    margin-top: 20px;
  }
}
