.search-law {
  background-color: #f1f1f1; }
  .search-law .search-law-inner {
    min-height: calc(100vh - 68px); }

.side-section {
  background-color: #fff;
  border-right: 1px solid #f6f6f6;
  display: inline-block;
  margin-bottom: 45px;
  margin-top: 45px;
  padding: 15px 20px;
  width: 100%; }

.category-filter {
  display: inline-block;
  font-size: 1.2em;
  width: 100%; }
  .category-filter .title {
    background-color: #fff;
    border: 0;
    border-top: 1px solid #f6f6f6;
    color: #000;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    padding: 15px 0 0;
    position: relative;
    text-align: left;
    width: 100%; }
    .category-filter .title:focus {
      outline: 0; }
    .category-filter .title:after {
      content: "\f106";
      font-family: FontAwesome;
      font-size: 1.2em;
      position: absolute;
      left: 175px;
      top: 12px; }
    .category-filter .title .fa {
      margin-right: 10px; }
  .category-filter .title.collapsed {
    color: #808080; }
    .category-filter .title.collapsed:after {
      content: "\f107";
      font-family: FontAwesome; }
  .category-filter .category-filter-title {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 35px;
    position: relative;
    text-align: left;
    width: 100%; }
    .category-filter .category-filter-title:focus {
      outline: 0; }
    .category-filter .category-filter-title:after {
      content: "\f078";
      font-family: FontAwesome;
      font-size: .8em;
      position: absolute;
      right: 10px;
      top: 15px; }
  .category-filter .category-filter-title.collapsed {
    font-weight: normal; }
    .category-filter .category-filter-title.collapsed:after {
      content: "\f054";
      font-family: FontAwesome; }
  .category-filter .category-filter-content {
    font-size: .9em; }
    .category-filter .category-filter-content .category-item {
      border-bottom: 1px solid #f6f6f6;
      cursor: pointer;
      padding: 10px 45px; }
      .category-filter .category-filter-content .category-item:last-child {
        border-bottom: none; }
      .category-filter .category-filter-content .category-item a {
        color: #000; }
      .category-filter .category-filter-content .category-item:hover {
        background-color: #f6f6f6;
        transition: all .5s ease; }
        .category-filter .category-filter-content .category-item:hover a {
          color: #2385f2;
          text-decoration: none;
          transition: all .3s ease; }
    .category-filter .category-filter-content .category-item.filtering {
      background-color: #FFF9C4; }

.search-law-tool .title {
  background-color: #fff;
  border: 0;
  color: #000;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0 0 15px;
  position: relative;
  text-align: left;
  width: 100%; }
  .search-law-tool .title:after {
    content: "\f106";
    font-family: FontAwesome;
    font-size: 1.3em;
    position: absolute;
    left: 125px;
    top: -5px; }
  .search-law-tool .title:focus {
    outline: 0; }
  .search-law-tool .title .fa {
    margin-right: 10px; }

.search-law-tool .title.collapsed {
  color: #808080; }
  .search-law-tool .title.collapsed:after {
    content: "\f107";
    font-family: FontAwesome; }

.search-law-tool .search-law-tool-body input[type="text"] {
  font-size: 1.2em;
  height: 45px;
  width: 100%; }

.search-law-tool .search-law-tool-body .ui.toggle.checkbox input:checked ~ label:before {
  background-color: #4e9ffc !important; }

.search-law-tool .search-law-tool-body #group1 {
  padding: 5px 0;
  font-size: 1.2em;
  margin-top: 10px;
  width: 100%; }
  .search-law-tool .search-law-tool-body #group1 label {
    font-size: 1.2em;
    width: 100%; }
  .search-law-tool .search-law-tool-body #group1 input[type="radio"] {
    margin-right: 10px; }

.search-law-tool .search-law-tool-body #group2 {
  font-size: 1.2em; }
  .search-law-tool .search-law-tool-body #group2 label {
    width: 100%; }
  .search-law-tool .search-law-tool-body #group2 .select-section {
    padding: 3px 0 8px; }
  .search-law-tool .search-law-tool-body #group2 select {
    font-size: 1em;
    height: 40px;
    margin-bottom: 10px; }

.search-law-tool .search-law-tool-body .submit-btn {
  text-align: center;
  width: 100%; }

.search-law-tool .search-law-tool-body button {
  background-color: #4e9ffc;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 0; }
  .search-law-tool .search-law-tool-body button:hover {
    background-color: #0974b8; }

.results {
  padding-top: 35px;
  width: 100%; }
  .results .loading-symbol {
    margin: 0 auto; }
  .results .pagination {
    cursor: pointer;
    font-size: 1.2em;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 15px;
    width: 100%; }
    .results .pagination li a {
      color: #2385f2; }
      .results .pagination li a:hover {
        background-color: #2385f2;
        color: #fff;
        border: 1px solid #2385f2;
        transition: all .5s ease; }
    .results .pagination li.active a {
      background-color: #2385f2;
      color: #fff;
      border-color: #2385f2; }
  .results .law-item {
    background-color: #fff;
    border: 1px solid #e5ecf0;
    border-radius: 5px;
    float: left;
    font-size: 1.1em;
    margin: 5px 0;
    width: 100%; }
    .results .law-item:first-child {
      margin-top: 8px; }
    .results .law-item:hover {
      background-color: #f9f9f9; }
    .results .law-item a {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #000; }
      .results .law-item a:hover {
        text-decoration: none; }
    .results .law-item .law-title {
      align-items: center;
      display: flex;
      font-size: 1.2em;
      font-weight: bold;
      overflow: hidden;
      padding: 15px 25px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%; }
      .results .law-item .law-title .content {
        width: 50%; }
      .results .law-item .law-title .tag {
        width: 50%; }
      .results .law-item .law-title label {
        font-size: .9em;
        border-radius: 5px;
        color: #fff;
        float: right;
        margin-bottom: 0;
        margin-top: 7px;
        padding: 3px 8px; }
      .results .law-item .law-title .validated {
        background-color: #2ab573; }
      .results .law-item .law-title .expired {
        background-color: #e54040; }
      .results .law-item .law-title .half-expired {
        background-color: #f0ad4e; }
      .results .law-item .law-title a {
        color: #2385f2; }
    .results .law-item .law-detail-content {
      padding: 0 25px 20px; }
      .results .law-item .law-detail-content .law-brief {
        font-size: 1em !important;
        width: 65%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    .results .law-item .law-status {
      font-size: 0.9em; }
      .results .law-item .law-status .sub-title label {
        margin-bottom: 2px;
        margin-right: 6px; }
      .results .law-item .law-status .effect-status {
        color: #e54040; }

.toastify-content {
  border-radius: 5px;
  font-size: 1.2em; }

.toastify-content--success {
  background-color: #17a2b8; }

.not-found-any-results {
  color: #e54040;
  font-size: 2.1em;
  text-align: center; }
  .not-found-any-results .symbol-not-found {
    color: #2385f2;
    font-size: 2.3em; }

@-moz-document url-prefix() {
  .search-law .search-law-inner {
    min-height: calc(100vh - 66.5px); } }

@media (max-width: 750px) {
  .results {
    padding-top: 0;
    margin-bottom: 45px; }
  .side-section {
    margin-top: 20px; } }
