.list-users {
  border-right: 1px solid #e5ecf0;
  float: left;
  height: calc(100% + 5px);
  width: 320px; }
  .list-users .custom-content {
    margin-bottom: -26px !important; }
  .list-users .header-index {
    background-color: #2385f2;
    color: #fff;
    float: left;
    font-size: 1.3em;
    padding: 13px 15px 14px;
    text-align: center;
    width: 100%; }
    .list-users .header-index a {
      color: #fff; }
      .list-users .header-index a:hover {
        cursor: pointer; }
    .list-users .header-index .fa {
      float: left; }
  .list-users .search-box {
    padding: 17px 15px;
    text-align: left;
    text-transform: uppercase; }
    .list-users .search-box input {
      background-color: #f6f6f6;
      border: 0;
      font-size: 1.15em;
      height: 25px;
      padding: 20px 15px;
      width: 100%; }
  .list-users .ui.dropdown {
    float: left; }
  .list-users .ui.dropdown .menu {
    font-size: 1em; }
  .list-users .ui.list {
    display: inline-block;
    margin-top: 0;
    padding: 0 0;
    height: calc(100% - 55px);
    width: 100%; }
    .list-users .ui.list .user {
      align-items: center;
      display: flex;
      padding-left: 15px; }
    .list-users .ui.list a {
      display: inline-block;
      outline: 0;
      text-decoration: none;
      width: 100%; }
    .list-users .ui.list .item {
      align-items: center;
      cursor: pointer;
      display: flex;
      margin-bottom: 7px;
      margin-top: 8px;
      text-align: left; }
      .list-users .ui.list .item .content {
        padding-left: 15px;
        width: 170px; }
        .list-users .ui.list .item .content .header {
          font-size: 1.2em;
          overflow: hidden;
          text-overflow: ellipsis; }
      .list-users .ui.list .item .description {
        color: #808080;
        margin-top: 5px; }
      .list-users .ui.list .item img {
        height: 50px;
        width: 50px; }

.unread-mess {
  background-color: #2385f2;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 5px; }

.status {
  margin-right: 10px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  z-index: 100; }

.status-icon {
  height: 10px !important;
  margin-right: 10px !important;
  width: 10px !important; }

.ui.dropdown.online .circle {
  color: #2de0a5; }

.ui.dropdown.away .circle {
  color: #ffd21f; }

.ui.dropdown.offline .circle {
  color: #f5455c; }

.ui.dropdown .menu > .item {
  font-size: .9em; }

.ui.top.left.pointing.dropdown > .menu:after {
  width: 0 !important; }

.dropdown-status span.text {
  font-size: 1.3em; }

.chat {
  position: relative; }

.place-holder-ui {
  float: right;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 320px); }
  .place-holder-ui .chat-text-box {
    border-top: 1px solid #e5ecf0;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: calc(100% - 320px); }
  .place-holder-ui .chat-setting {
    border-left: 1px solid #e5ecf0;
    height: calc(100vh - 53px); }
    .place-holder-ui .chat-setting .header .ava {
      background-color: #f6f6f6;
      border-radius: 50%;
      height: 55px;
      width: 55px; }
    .place-holder-ui .chat-setting .header .info {
      background-color: #f6f6f6;
      height: 30px;
      width: 180px; }
    .place-holder-ui .chat-setting .shared {
      height: 60px; }
      .place-holder-ui .chat-setting .shared .bar {
        background-color: #f6f6f6;
        height: 30px;
        width: 150px; }
  .place-holder-ui .title {
    align-items: center;
    border-bottom: 1px solid #e5ecf0;
    display: flex;
    justify-content: center;
    height: 53px; }
    .place-holder-ui .title .bar {
      background-color: #f6f6f6;
      height: 60%;
      width: 180px; }

@-moz-document url-prefix() {
  .list-users .search-box input {
    font-size: 1.05em;
    height: 35px;
    padding: 8px 10px; }
  .list-users .ui.list .item .content .header {
    font-size: 1.1em; }
  .list-users .header-index {
    padding: 9px 11px 11px; }
  .place-holder-ui .title {
    height: 47px; } }

@media (max-height: 400px) {
  .content {
    display: block !important; } }
