.list-users {
  background-color: #f9f9f9;
  border: 1px solid #e5ecf0;
  float: left;
  height: 100vh;
  width: 320px; }
  .list-users .header-index {
    background-color: #2385f2;
    border-bottom: 1px solid #e5ecf0;
    color: #fff;
    float: left;
    font-size: 1.3em;
    padding: 13px 15px 14px;
    text-align: center;
    width: 100%; }
    .list-users .header-index a {
      color: #fff; }
      .list-users .header-index a:hover {
        cursor: pointer; }
    .list-users .header-index .fa {
      float: left; }
  .list-users .search-box {
    padding: 17px 15px;
    text-align: left;
    text-transform: uppercase; }
    .list-users .search-box input {
      background-color: #e5ecf0;
      border: 0;
      height: 25px;
      padding: 18px;
      width: 100%; }
  .list-users .ui.dropdown {
    float: left; }
  .list-users .ui.dropdown .menu {
    font-size: 1em; }
  .list-users .ui.list {
    display: inline-block;
    margin-top: 0;
    overflow-y: scroll;
    padding: 0 0 6px;
    height: calc(100% - 50px);
    width: 100%; }
    .list-users .ui.list .user {
      align-items: center;
      display: flex;
      padding-left: 15px; }
    .list-users .ui.list a {
      display: inline-block;
      text-decoration: none;
      width: 100%; }
    .list-users .ui.list .item {
      align-items: center;
      cursor: pointer;
      display: flex;
      margin-bottom: 7px;
      margin-top: 8px;
      text-align: left; }
      .list-users .ui.list .item .content {
        padding-left: 15px;
        width: 170px; }
        .list-users .ui.list .item .content .header {
          font-size: 1.2em; }
      .list-users .ui.list .item .description {
        color: #808080;
        margin-top: 5px; }
      .list-users .ui.list .item img {
        height: 50px;
        width: 50px; }

.unread-mess {
  background-color: #2385f2;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 5px; }

.status {
  margin-right: 10px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  z-index: 100; }

.status-icon {
  height: 10px !important;
  margin-right: 10px !important;
  width: 10px !important; }

.online-status {
  background-color: #2de0a5; }

.away-status {
  background-color: #ffd21f; }

.offline-status {
  background-color: #f5455c; }

.ui.dropdown .menu > .item {
  font-size: .8em; }

.ui.top.left.pointing.dropdown > .menu:after {
  width: 0 !important; }
