@import 'variables.scss';

.list-users {
  border-right: 1px solid $gray-lighter;
  float: left;
  height: 100%;
  width: 320px;

  .header-index {
    background-color: $blue;
    border-bottom: 1px solid $gray-lighter;
    color: $white;
    float: left;
    font-size: 1.3em;
    padding: 13px 15px 14px;
    text-align: center;
    width: 100%;

    a {
      color: $white;

      &:hover {
        cursor: pointer;
      }
    }

    .fa {
      float: left;
    }
  }

  .search-box {
    padding: 17px 15px;
    text-align: left;
    text-transform: uppercase;

    input {
      background-color: $gray-lighter;
      border: 0;
      height: 25px;
      padding: 18px;
      width: 100%;
    }
  }

  .ui.dropdown {
    float: left;
  }

  .ui.dropdown .menu{
    font-size: 1em;
  }

  .ui.list {
    display: inline-block;
    margin-top: 0;
    overflow-y: scroll;
    padding: 0 0;
    height: calc(100% - 55px);
    width: 100%;

    .user {
      align-items: center;
      display: flex;
      padding-left: 15px;
    }

    a{
      display: inline-block;
      text-decoration: none;
      width: 100%;
    }

    .item {
      align-items: center;
      cursor: pointer;
      display: flex;
      margin-bottom: 7px;
      margin-top: 8px;
      text-align: left;

      .content {
        padding-left: 15px;
        width: 170px;

        .header {
          font-size: 1.2em;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .description {
        color: $gray-darker;
        margin-top: 5px;
      }

      img {
        height: 50px;
        width: 50px;
      }
    }
  }
}

.unread-mess {
  background-color: $blue;
  border-radius: 3px;
  color: $white;
  display: inline-block;
  padding: 5px;
}

.status {
  margin-right: 10px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  z-index: 100;
}

.status-icon {
  height: 10px !important;
  margin-right: 10px !important;
  width: 10px !important;
}

.online-status {
  background-color: $online-color;
}

.away-status {
  background-color: $away-color;
}

.offline-status {
  background-color: $offline-color;
}

.ui.dropdown .menu > .item {
  font-size: .8em;
}

.ui.top.left.pointing.dropdown > .menu:after {
  width: 0 !important;
}

.dropdown-status {
  span.text {
    font-size: 1.3em;
  }
}
