$border-color: #c2cfd6;
$border-color-lighter: #e9eaeb;

$brand-primary: #3ca2e0;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

$black: #000;
$black-trans: rgba(0, 0, 0, .05);
$black-trans-light: rgba(0, 0, 0, .6);
$black-trans-darker: rgba(0, 0, 0, .8);
$black-side: #4a515b;
$black-lighter: #777;

$blue: #2385f2;
$blue-lighter: #6298f7;
$blue-less-darker: #0277fb;
$blue-darker: #0974b8;
$blue-more-darker: #1d74f5;
$blue-much-darker: #00558c;
$blue-info-darker: #4e9ffc;
$blue-info: #009600;
$blue-face: #49629e;
$blue-analog: #00c1c1;
$blue-analog-darker: #00A0A0;
$blue-logo: #43a3df;

$dropdown-menu-background: rgba(255, 255, 255, 0.0980392);
$dropdown-inverse-background: rgba(0, 0, 0, .15);

$gray: #a2a2a2;
$gray-darker: #808080;
$gray-medium: #d1d1d1;
$gray-medium-darker: #cbcbcb;
$gray-medium-lighter: #eee;
$gray-less-medium: #f1f1f1;
$gray-lighter: #e5ecf0;
$gray-more-lighter: #f6f6f6;
$gray-medium-lighter: #f7f7f7;
$gray-much-lighter: #f9f9f9;
$gray-lightest: #fbfbfb;

$orange-lighter: #ffe1c1;

$main-background: #fcfcfc;

$notifi-blue: #2980b9;
$notifi-orange: #f39c12;
$notifi-red: #e74c3c;
$notifi-green: #27ae60;
$notifi-purple: #9b59b6;
$notifi-gray: #95a5a6;
$notifi-white: #fafafa;

$red: #e54040;
$red-dashboard: #df0000;
$red-google: #d54b37;

$scroll-bar-bg: rgba(255, 255, 255, 0.7);
$scroll-bar-thumb: rgba(103, 103, 103, 0.5);

$online-color: #2de0a5;
$offline-color: #f5455c;
$away-color: #ffd21f;

$white: #fff;
$semi-white: #ecf0ef;
