$border-color: #c2cfd6;
$border-color-lighter: #E9EAEB;

$brand-primary: #3ca2e0;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

$black: #000;
$black-trans: rgba(0, 0, 0, .05);
$black-trans-darker: rgba(0, 0, 0, .8);
$black-side: #4a515b;
$black-lighter: #777;

$blue: #2385f2;
$blue-lighter: #6298f7;
$blue-darker: #0974b8;
$blue-more-darker: #1d74f5;
$blue-info: #009600;

$gray: #a2a2a2;
$gray-darker: #808080;
$gray-medium: #d1d1d1;
$gray-medium-darker: #cbcbcb;
$gray-medium-lighter: #eee;
$gray-less-medium: #f1f1f1;
$gray-lighter: #e5ecf0;
$gray-more-lighter: #f6f6f6;
$gray-much-lighter: #f9f9f9;

$orange-lighter: #ffe1c1;

$main-background: #fcfcfc;

$red: #e54040;
$red-dashboard: #df0000;

$online-color: #2de0a5;
$offline-color: #f5455c;
$away-color: #ffd21f;

$white: #fff;
