body {
  text-align: center; }

.authen-box {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  font-size: 1.2em;
  margin-top: 45px;
  margin-bottom: 60px;
  text-align: left;
  width: 420px; }
  .authen-box .ui .input > input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
    padding-left: 0; }
    .authen-box .ui .input > input:focus {
      background-color: transparent;
      border-color: #fff;
      border-radius: 0;
      color: #fff; }
  .authen-box .ui.primary.button {
    width: 100%;
    background-color: #fd9d16; }
  .authen-box .ui.form .field {
    margin-bottom: 25px; }
  .authen-box .ui.form .field > label {
    color: #fff;
    font-size: 1.1em; }
  .authen-box .authen-form {
    padding: 0 35px 35px; }
  .authen-box .title {
    color: #fff;
    text-align: center;
    font-size: 2em;
    padding: 30px 20px 25px 20px;
    width: 100%; }

.signup-box {
  width: 840px; }
  .signup-box .right {
    float: right; }
  .signup-box .ui.form .field {
    display: inline-block;
    width: 48%; }
    .signup-box .ui.form .field label {
      width: 100%;
      display: inline-block; }
    .signup-box .ui.form .field .ui.input {
      width: 100%; }
