$blue-darker: #2185d0;
$gray-lighter: #c7c7c7;
$white: #fff;
$yellow-lighter: #fd9d16;
$black: rgba(0, 0, 0, 0.3);

body{
  text-align: center;
}

.authen-box {
  background-color: $black;
  display: inline-block;
  font-size: 1.2em;
  margin-top: 45px;
  margin-bottom: 60px;
  text-align: left;
  width: 420px;

  .ui .input > input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
    padding-left: 0;

    &:focus {
      background-color: transparent;
      border-color: $white;
      border-radius: 0;
      color: $white;
    }
  }

  .ui.primary.button {
    width: 100%;
    background-color: $yellow-lighter;    
  }

  .ui.form .field {
    margin-bottom: 25px;
  }

  .ui.form .field > label {
    color: $white;
    font-size: 1.1em;
  }

  .authen-form {
    padding: 0 35px 35px;
  }

  .title {
    color: $white;
    text-align: center;
    font-size: 2em;
    padding: 30px 20px 25px 20px;
    width: 100%;
  }
}

.signup-box {
  width: 840px;
  .right {
    float: right;
  }

  .ui.form .field {
    display: inline-block;
    width: 48%;

    label {
      width: 100%;
      display: inline-block;
    }

    .ui.input {
      width: 100%;
    }
  }
}
