.chat-window {
  border-right: 1px solid #e5ecf0;
  font-size: 1.2em;
  float: left;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  width: 750px; }
  .chat-window .title {
    border-bottom: 1px solid #e5ecf0;
    color: #4dadff;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }
    .chat-window .title .user-name {
      display: inline-block; }
    .chat-window .title .fa {
      float: right;
      margin-left: 15px; }
  .chat-window .chats {
    height: 575px;
    overflow-y: scroll;
    padding: 25px; }
  .chat-window .text-box {
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #e5ecf0;
    display: flex;
    font-size: 1em;
    height: 55px;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .chat-window .text-box textarea {
      border: 0;
      font-size: 0.9em;
      height: 45px;
      line-height: 0.9em;
      margin-top: 5px;
      overflow-y: hidden;
      padding: 18px 12px 12px;
      resize: none;
      width: 550px; }
      .chat-window .text-box textarea:focus {
        outline: 0; }
