$white: #fff;

::-webkit-input-placeholder {
  color: $white;
}
::-moz-placeholder {
  color: $white;
}
:-ms-input-placeholder {
  color: $white;
}
:-moz-placeholder {
  color: $white;
}

@font-face {
  font-family: 'DroidSerif';
  src: font-url('fonts/Droid_Serif/DroidSerif-Regular.ttf');
}

body {
  background-image: url('../images/home-wallpaper.jpg');
  font-family: 'DroidSerif', sans-serif;
}
