@import 'variables.scss';

textarea::-webkit-input-placeholder {
  color: $gray;
}

textarea::-moz-placeholder {
  color: $gray;
}

textarea:-ms-input-placeholder {
  color: $gray;
}

textarea:-moz-placeholder {
  color: $gray;
}

@font-face {
  font-family: 'DroidSerif';
  src: font-url('fonts/Droid_Serif/DroidSerif-Regular.ttf');
}

body {
  font-family: 'DroidSerif', sans-serif;
  overflow-y: hidden;
}

.ui.dropdown .menu{
  font-size: 1.5em;
}
