$white: #fff;
$gray: #a2a2a2;

::-webkit-input-placeholder {
  color: $white;
}

::-moz-placeholder {
  color: $white;
}

:-ms-input-placeholder {
  color: $white;
}

:-moz-placeholder {
  color: $white;
}

textarea::-webkit-input-placeholder {
  color: $gray;
}

textarea::-moz-placeholder {
  color: $gray;
}

textarea:-ms-input-placeholder {
  color: $gray;
}

textarea:-moz-placeholder {
  color: $gray;
}

@font-face {
  font-family: 'DroidSerif';
  src: font-url('fonts/Droid_Serif/DroidSerif-Regular.ttf');
}

body {
  font-family: 'DroidSerif', sans-serif;
}

.wrapper {
  background-image: url('../images/home-wallpaper.jpg');
  width: 100%;
  height: 100vh;
}
