$blue-darker: #2185d0;
$gray-lighter: #c7c7c7;
$white: #fff;

.ui.menu {
  background-color: $blue-darker;
  border: none;
  box-shadow: 1px 1px 2px 2px $gray-lighter;

  a {
    color: $white;
    font-weight: bold;
  }
}