$blue: #4dadff;
$blue-darker: #b2dbfd;
$blue-lighter: #fdfdfd;
$gray: #f6f7f9;
$gray-darker: #c0c0c0;
$gray-lighter: #e4e7e9;
$online-color: #2de0a5;
$offline-color: #f5455c;
$white: #fff;

.list-users {
  background-color: $blue-lighter;
  border: 1px solid $gray-lighter;
  float: left;
  width: 280px;

  .header-index {
    background-color: $blue;
    color: $white;
    float: left;
    font-size: 1.2em;
    padding: 15px;
    width: 100%;

    .fa {
      float: left;
    }
  }

  .search-box {
    padding: 15px;
    text-align: left;
    text-transform: uppercase;

    input {
      background-color: $gray;
      border: 0;
      height: 25px;
      padding: 18px;
      width: 100%;
    }
  }

  .ui.dropdown {
    float: left;
  }

  .ui.list {
    display: inline-block;
    height: calc(100vh - 50px);
    margin-top: 0;
    overflow-y: scroll;
    padding: 6px 0;
    width: 100%;

    a{
      display: inline-block;
      width: 100%;
    }

    .item {
      align-items: center;
      cursor: pointer;
      display: flex;
      margin-bottom: 7px;
      margin-top: 8px;
      padding-left: 15px;
      text-align: left;

      .content {
        padding-left: 15px;

        .header {
          font-size: 1.1em;
        }
      }

      .description {
        color: $gray-darker;
        margin-top: 5px;
      }

      img {
        width: 50px;
        height: 50px;

        border: 1px solid $blue-darker;
      }
    }
  }
}

.online-status {
  background-color: $online-color;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  z-index: 100;
}

.offline-status {
  background-color: $offline-color;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  z-index: 100;
}
