$brand-primary: #3ca2e0;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

$blue: #3ca2e0;
$blue-lighter: #bbe1f5;
$blue-more-lighter: #fdfdfd;
$blue-more-darker: #1d74f5;

$gray: #a2a2a2;
$gray-darker: #c0c0c0;
$gray-lighter: #e5ecf0;

$orange-lighter: #ffb460;

$online-color: #2de0a5;
$offline-color: #f5455c;
$away-color: #ffd21f;

$white: #fff;
