.footer-distributed{
	background-color: #2591d2;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
  margin-top: 80px;
  
  display: inline-block;
}

.footer-distributed .footer-left p{
	color:  #fffa00;
	font-size: 14px;
	margin: 0;
}

.footer-distributed p.footer-links{
	font-size: 18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
  color:  inherit;
  cursor: pointer;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
  background-color:  #09517b;
  margin: 0 5px;
  border-radius: 2px;
  cursor: pointer;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

p.delimiter {
  display: inline-block;
  margin: 0 6px !important;
}

@media (max-width: 600px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
