.header-nav {
	border-radius: 0px !important;
}

.navbar > ul {
	display: inline-block;
	float: right;
}

.navbar-default {
	height: 80px;
	display: block !important;
	background-color: #3ca2e0;
	background-image: none !important;
	border-radius: 0px !important;
	margin: 0px;
}

.navbar-default .navbar-nav>li input {
	width: 10px;
	transition: width 1s;
	border-radius: 15px 0px 0px 15px;
}

.navbar-default .navbar-nav > li button {
	float: right;
	height: 34px;
}

.navbar-default .navbar-nav > li .remove-btn {
	border-radius: 0px 15px 15px 0px
}

.navbar-default .navbar-nav > li {
	margin-right: 40px;
}

.navbar-default .navbar-nav > li .input-group {
	display: none;
	padding-top: 10px;
	padding-right: 40px;
}

.navbar-default .navbar-nav > li .input-group-btn {
	display: flex;
}

.headerNavListItem a {
	font-size: .8em !important;
	font-family: 'Open Sans', Helvetica, sans-serif !important;
  color: #fff !important;
  cursor: pointer;
}

.headerNavListItem a:hover {
	color: #F6F01A !important;
}

.navbar a {
  cursor: pointer;
  font-family: 'Bree Serif', serif;
  font-size: 1.5em;
}

.navbar-header {
  padding-left: 30px;
}
